*{
    margin: 0;
    padding: 0;
}
p{
    font-weight: 300;
    color: #444;
}
.hr{
    height: 1px;
    background-color: #EB6529;
}
.order-summery{
    width: 100%;
}
.order-summery-container{
   
    max-width: 768px;
    background-color: #fff;
    margin: 0 auto;
}
.order-summery-content{
    padding: 30px 20px;
}
.order-summery-logo{
    background-color: #EB6529;
    text-align: center;
    padding: 10px 0;
}
.order-summery-logo a img{
    width: 100px;
}
.order-confirm-content{
    padding: 20px 0;
}
.confirm-title h1{
    font-size: 20px;
}
.confirm-text{
    padding-top: 10px;
}

.order-summery-date{
    width: 100%;
    padding: 10px 0;
}
.order-summery-date-row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.order-summery-text , .order-date-text, .order-serial-text , .order-payment-text, .order-address-text{
    width: 25%;
}
.order-summery-text p, .order-date-text p, .order-serial-text p , .order-payment-text p, .order-address-text p{
    text-transform: capitalize;
    padding-bottom: 5px;
    color: #444;
}

.order-summery-product{
    width: 100%;
    padding: 20px 0;
}
.order-product-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.product-img-col{
    width: 20%;
    text-align: center;
}
.product-img {
 
   width: 65px;
}
.product-img img{
    max-width: 100%;
}
.product-name-col{
    width: 50%;
    color: #444;
}
.product-quantity-col{
    width: 20%;
    color: #444;
}
.product-price-col{
    width: 20%;
    color: #444;
}
.order-date-s{
    color: #444;
}
.order-serial{
    color: #444;
}
.order-payment{
    color: #444;
}
.order-address{
    color: #444;
   word-wrap: break-word;
}
.product-details{
    width: 100%;
    padding: 20px 0;
}
.sub-total-section, .shipping-section, .texes-section, .discount-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #444;
}
.total-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: #444;
}
.order-summery-footer{
    width: 100%;

}
.conformation-text{
    padding: 20px 0;
}

/* order summery phone */
.order-summery-product-phn{
    width:100%;
}
.order-summery-phn-container{
    padding: 10px 0;
}
.order-summery-phn-row{
    display: flex;
    flex-wrap: wrap;

}
.order-summery-phn-img-col{
    width: 20%;
    text-align: center;
}
.order-summery-phn-img{
    width: 70px;
    margin:  0 auto;
}
.order-summery-phn-img img{
    max-width: 100%;
}
.order-summery-phn-details{
    width: 80%;
    color: #444;
}
.order-summery-phn-d-all{
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #444;
}
.order-summery-phn-price{
    width: 50%;
}
.order-summery-phn-quantity{
    width: 50%;
}



@media only screen and (min-width: 768px) {
    .order-summery-product-phn{
        display: none;
    }

}
@media only screen and (max-width: 768px){
    .order-summery-product{
        display: none;
    }  
    .order-summery-product-phn{
        display: block;
    }
} 

@media only screen and (max-width: 500px){
    .order-summery-text , .order-date-text, .order-serial-text , .order-payment-text, .order-address-text{
        width: 50%;
        padding: 10px 0;
    }
}

@media only screen and (max-width: 500px){
    .order-summery-content{
        padding: 15px 10px;
    }
    .order-summery-phn-img{
        width: 50px;
    }
}