*{
    font-family: 'Cairo', sans-serif;
}
.voucher{
    width: 100%;
    margin-top: 63px;
}
.voucher-container{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
   
}
.voucher-title{
    padding: 5px 0;
    border-bottom: 1px solid #444;
}
.current-voucher{
    width: 100%;
}
.current-voucher-top-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
}

.current-top-right{
    width: 100%;
    margin-top: 27px;
    margin-left: 10px;
}
.current-right-line{
    width: 100%;
    height: 1px;
    background-color: #444;
}
.current-text{
    font-weight: 900;
    color: #EB6529;
    text-transform: capitalize;
}
.current-voucher-content{
    width: 100%; 
}
.current-voucher-offer{
    width: 100%;
    border-bottom: 1px solid #444;
    padding-bottom: 19px;
    margin-bottom: 19px;
}
.current-voucher-offer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.offer-title{
    margin: 0;
    font-weight: 900;
}

.current-offer-valid-date{
    width: 100%;
}
.current-offer-valid-date-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -8px;
}
.valid-date-text{
    margin: 0;
}
.take-offer-text{
    margin: 0;
}
.current-min-order{
    width: 100%;    
}
.current-min-order-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.min-order-text{
    margin: 0;
}
.pc-text{
    margin: 0;
    color: red;
    font-weight: 900;
}

.past-voucher{
    width: 100%;
}
.past-voucher-top-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
}

.past-top-right{
    width: 100%;
    margin-top: 26px;
    margin-left: 10px;
}
.past-right-line{
    width: 100%;
    height: 1px;
    background-color: #444;
}
.past-text{
    font-weight: 900;
    text-transform: capitalize;
    color: #EB6529;
}
.past-voucher-content{
    width: 100%; 
}
.past-voucher-offer{
    width: 100%;
    border-bottom: 1px solid #444;
    padding-bottom: 19px;
    margin-bottom: 19px;
}
.past-voucher-offer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.offer-title{
    margin: 0;
    font-weight: 900;
    color: #444;
}

.past-offer-valid-date{
    width: 100%;
}
.past-offer-valid-date-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -8px;
}
.valid-date-text{
    margin: 0;
}
.take-offer-text{
    margin: 0;
}
.past-min-order{
    width: 100%;    
}
.past-min-order-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.min-order-text{
    margin: 0;
}
.pc-text{
    margin: 0;
    color: #EB6529;
    font-weight: 900;
}



/*For phone*/


.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  
  .tab button {
   background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    text-transform: capitalize;
    font-weight: 700;
    color: #444;
  }

  
  

  .tab button.active {
  border-bottom: 2px solid #EB6529;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
   
    border-top: none;
  }
  .tabcontent {
    animation: fadeEffect 1s;
  }
  
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .voucher-phone{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 63px;
  }
  .phone-current-offer{
      width: 100%;
  }
  .phone-current-offer-top{
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
     font-weight: 900;
  }
  .phone-offer-title{
      margin: 0;
      color: #444;
  }
  .phone-current-valid-date{
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #444;
      margin-top: -8px;
      font-size: 14px;
  }
  .phone-current-offer-min{
      display: flex;
      justify-content: space-between;
      color: #444;
      font-size: 14px;
  }

  .phone-offer-content{
       /* border-radius: 5px; */
    /* background: #e0e0e0; */
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid;

                
  }

  #past-offer-valid{
      color: red;
  }

  @media only screen and (max-width: 500px) {
      .voucher{
          display: none;
      }
  }
  @media only screen and (min-width: 600px) {
    .voucher{
        display: block;
    }
    .voucher-phone{
        display: none;
    }
}