{% block body %}
<!-- This is the start of the all categories section -->
<div class="all-categories">
  <div class="all-categories-main">
    <div class="all-categ-dse">
      <div class="all-categories-row">
        {% for category_wraper in category_wrapers_upper %}
        <!-- col-start -->
        <div class="all-categories-col-l">
          <a href="#food" class="rtbs">
            <div class="all-categories-col-main">
              <div class="all-categories-col-des">
                <div class="des-categories-row">
                  <div class="des-categories-col-img">
                    <img src="{{category_wraper.category_image.url}}" alt="">
                  </div>
                  <div class="des-categories-col-title">
                    <span>{{category_wraper.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- col-end -->
        {% endfor %}

        <!-- col-start -->
        <div class="all-categories-col-l">
          <a href="#food" class="rtbs">
            <div class="all-categories-col-main">
              <div class="all-categories-col-des">
                <div class="des-categories-row">
                  <div class="des-categories-col-img">
                    <span style="">---</span>
                  </div>
                  <div class="des-categories-col-title">
                    <span>more categories</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- col-end -->
      </div>
    </div>
  </div>
</div>
<!-- This is the end of the all categories section -->


<div class="clear" style="clear: both;"></div>


<!-- This is the start of the all categories item section -->
<div class="all-categories-item-container">
  <div class="all-categories-item-main">

    <!-- start item -->
    {% for category_wraper in category_wraper_all %}
    <div class="all-categories-item" id="food">
      <div class="items-details">
        <div class="item-title">
          <h2><a href="#">{{category_wraper.name}}</a></h2>
        </div>
        <div class="sub-item-cont-wearper">
          <ul class="sub-item-cont-until">
            {% load core_filters %}
            {% for category in category_wraper.name|filtering %}

            <li><a href="{% url 'productpageurlname' category %}">{{category}}</a></li>

            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- end item -->



  </div>
</div>
<!-- This is the end of the all categories item section -->
{% endblock body %}




<!-- order section  -->
<div class="cancellation-container">
  <div class="cancellation">

    {% for order in orders %}
    <!-- list-start -->
    <div class="cancellation-list">
      <div class="order">
        <div class="order-info">
          <div class="order-info-row">
            <div class="order-info-left">
              <div class="order-create">
                <span class="oc">Order date </span>
                <span class="order-date">
                  {{order.ordered_date}}
                </span>
              </div>
              <div class="order-number">
                <span class="on">#2345987493274</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="order-item">
        <div class="order-item-row">
          <div class="order-image">
            <div class="image-set">
              <img src="{{order.product.product_image.url}}" alt="">

            </div>
          </div>
          <div class="order-product-title">
            <span class="op-title">
              {{order.product.description}}
            </span>
          </div>
          {% if order.product.unitGroup == 'Packet' or order.product.unitGroup == 'ClothSize' or order.product.unitGroup
          == 'ShoeSize' %}
          <div class="order-qu">
            <span>Qty:</span>
            <span class="qu">
              {{order.quantity}}
            </span>
          </div>
          {% elif order.product.unitGroup == 'SolidWeight' or order.product.unitGroup == 'LiquidWeight' %}
          <div class="order-qu">
            <span>Amount:</span>
            <span class="qu">
              {{order.unitAmount}} {{order.unit}}
            </span>
          </div>
          {% endif %}
          <div class="order-status">
            <a class="os">manage</a>
          </div>
        </div>
      </div>
    </div>
    <!-- list-end -->
    {% endfor %}

  </div>

</div>




<!-- postponed structure -->
{% for order in orders %}
<div class="orderContainer">
  <div class="leftContainer">
    <div id="SaveQuantityDiv">
      <div id="saveDiv">Saved:<span style="margin-left: 4px;" id="savedAmount">500</span> BDT</div>
      <div id="quantityDiv">Quantity: <span id="quantityAmount">{{order.quantity}}</span></div>
    </div>


    <div id="imageDiv">
      <div class="order-image">
        <div class="image-set">
          <img src="{{order.product.product_image.url}}" alt="">
        </div>
      </div>
    </div>
    <div id="titleDiv">Cucumber Face Mask</div>
  </div>
  <div class="rightContainer">
    <div class="orderStatus">

      <div class="statusContainer">

        <div class="LIsection">
          <div class="verticalLine"></div>
          <div class="iconCircleContainer">
          </div>
          <div class="iconCircle"><i style="color: black; font-size: 10px; margin-top: 5px;" class="fas fa-check"></i>
          </div>
          <div class="verticalLine"></div>
        </div>

        <div class="title">Order Confirmed</div>

      </div>

      <div class="statusContainer">
        <div class="LIsection">
          <div class="verticalLine"></div>
          <div class="iconCircle">
            <i style="font-size: 11px; color: black; margin-top: 5px;" class="fas fa-user-check"></i>
          </div>
          <div class="verticalLine"></div>
        </div>

        <div class="title">Picked by curier</div>

      </div>


      <div class="statusContainer">
        <div class="LIsection">
          <div class="verticalLine"></div>
          <div class="iconCircle">
            <i style="font-size: 10px;
                         color: black; margin-top: 5px;" class="fas fa-truck"></i>
          </div>
          <div class="verticalLine"></div>
        </div>
        <div class="title">On the way</div>

      </div>


      <div class="statusContainer">
        <div class="LIsection">
          <div class="verticalLine"></div>
          <div class="iconCircle">
            <i style="font-size: 10px;
                       color: black; margin-top: 5px;" class="fas fa-gift"></i>
          </div>
          <div class="verticalLine"></div>
        </div>
        <div class="title">Delivered</div>

      </div>

    </div>

    <div class="shortSummery">
      <div class="SSmLeft">

        <div class="item">
          <span style="margin-right: 10px;" id="orderDate">Order Date </span>
          <span id="orderDateV">:24 jan 2022</span>
        </div>

        <div class="itemContainer">
          <span style="margin-right: 10px;" id="totalAmount">Total Amount</span>
          <span id="totalAmountV">:100 BDT</span>
        </div>

        <div class="item">
          <span style="margin-right: 10px;" id="paymentType">Payment Type</span>
          <span id="paymentTypeV">:COD</span>
        </div>

        <div class="item">
          <span style="margin-right: 10px;" id="deleveryMethod">Delivery Method</span>
          <span id="deleveryMethodV">:RedEX</span>
        </div>

      </div>
      <div class="SSmRight">
        <div class="item">
          <span style="margin-right: 10px;" id="orderNum">Order No</span>
          <span id="orderNumV">:12435335</span>
        </div>

        <div class="itemContainer">
          <span style="margin-right: 10px;" id="shippinCost">Shipping cost</span>
          <span id="shippingCostV">:20 BDT</span>
        </div>

        <div class="item">
          <span style="margin-right: 10px;" id="deliveryDate">Delivery Date</span>
          <span id="deliveryDateV">:26 jan 2022</span>
        </div>

      </div>
      <div id="cancelDiv">
        <button id="cancelButton" style="border: none;">Cancel</button>
      </div>
    </div>

  </div>
</div>
<br>
{% endfor %}


<!-- payment section -->
<div class="payment-main">
  <div class="payment-container">
      <div class="payment-section">
          <div class="payment-row">
              <div class="payment-left">
                  <div style="color: red; margin-bottom: 20px;" id="selectionError"></div>
                  <div class="payment-left-container">
                      <div class="tab">
                          <button id="defaultOpen" class="tablinks" onclick="payment(event, 'credit-card')">Credit/
                              Debit card</button>
                          <button class="tablinks" onclick="payment(event, 'net-banking')">Net Banking</button>
                          <button class="tablinks" onclick="payment(event, 'cash-on')">Cash on delivery</button>
                      </div>

                      <div id="credit-card" class="tabcontent">
                          <div class="credit-card-content">
                              <div class="card-row">
                                  <div class="visa-card">
                                      <div class="visa-card-content">
                                          <div class="visa-logo">
                                              <img src="/static/app/image/visa.png" alt="">
                                          </div>

                                          <div class="visa-card-date">
                                              <span class="visa-text">Expires</span>
                                              <span class="visa-date">10-19</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="master-card">
                                      <div class="master-card-content">
                                          <div class="master-logo">
                                              <img src="/static/app/image/MasterCard.png" alt="">
                                          </div>

                                          <div class="master-card-date">
                                              <span class="master-text">Expires</span>
                                              <span class="master-date">10-18</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div id="net-banking" class="tabcontent">
                          <h3>net Banking</h3>

                      </div>

                      <div id="cash-on" class="tabcontent">
                          <span>cash on </span>
                          <input type="checkbox" name="" id="cODCheckbox" value="cashOnDelivery">

                      </div>
                  </div>

                  <div class="courier-section">
                      <div class="courier-container">
                          <div class="courier-title">
                              <h3>choose your courier</h3>
                          </div>

                          <div style="color: red;" id="curierSelectionError"></div>

                          <!-- courier content start -->
                          <form action="">
                              <div class="courier-content">

                                  <div class="courier-content-row">
                                      <div class="courier-box">
                                          <input type="checkbox" class="curier" name="curier" value="sundorBon">
                                      </div>
                                      <div class="courier-name">
                                          <h3 class="courier-text">
                                              Sundor Ban
                                          </h3>
                                      </div>
                                      <div class="courier-logo">
                                          <img src="/static/app/image/sundorban.jpg" alt="">
                                      </div>
                                  </div>

                              </div>
                              <!-- courier content end -->

                              <!-- courier content start -->
                              <div class="courier-content">

                                  <div class="courier-content-row">
                                      <div class="courier-box">
                                          <input type="checkbox" id="Jononi" class="curier" value="Jononi">
                                      </div>
                                      <div class="courier-name">
                                          <h3 class="courier-text">
                                              Jononi
                                          </h3>
                                      </div>
                                      <div class="courier-logo">
                                          <img src="/static/app/image/sundorban.jpg" alt="">
                                      </div>
                                  </div>

                              </div>
                              <!-- courier content end -->

                              <!-- courier content start -->
                              <div class="courier-content">

                                  <div class="courier-content-row">
                                      <div class="courier-box">
                                          <input type="checkbox" class="curier" name="curier" value="Redex">
                                      </div>
                                      <div class="courier-name">
                                          <h3 class="courier-text">
                                              Redex
                                          </h3>
                                      </div>
                                      <div class="courier-logo">
                                          <img src="/static/app/image/sundorban.jpg" alt="">
                                      </div>
                                  </div>

                              </div>
                          </form>
                          <!-- courier content end -->
                      </div>
                  </div>

              </div>

              <div class="check-out-right">
                  <div class="check-out-posi">
                      <div class="check-out-right-main">
                          <div class="ck-pay-btn">
                              <button id="ptp" class="pay-btn">Select your address</button>
                          </div>

                          <!-- Editing Area -->
                          <div id="editDiv">
                              <div class="check-out-right-title">
                                  <h1 class="ck-r-t">Shipping & Billing</h1>
                              </div>
                              <div class="ck-profile">
                                  <div class="ck-profile-text">
                                      <span class="ck-icn"><i class="fa fa-map-marker-alt"></i></span>
                                      <span id="shAdrName" class="ck-profile-name">
                                          {{daddress.full_name}}
                                      </span>
                                  </div>
                                  <div class="ck-profile-edit">
                                      <a href="#" id="adredit" class="ck-edit">Edit</a>
                                  </div>
                              </div>
                              <div class="ck-all-address">
                                  <span id="adrWithLocations" class="ck-address">{{daddress.address}},
                                      {{daddress.unions}},
                                      {{daddress.upazilas}}, {{daddress.districts}},
                                      {{daddress.divisions}}</span>
                              </div>

                              <div class="email-address">
                                  <div class="email-address-tex">
                                      <span class="email-icons">
                                          <i class="fa fa-envelope"></i>
                                      </span>
                                      <span class="email-text">{{profile.email}}</span>
                                  </div>
                              </div>

                              <div class="phone-address">
                                  <div class="phone-address-tex">
                                      <span class="phone-icons">
                                          <i class="fa fa-phone"></i>
                                      </span>
                                      <span class="phone-text">{{profile.phone_number}}</span>
                                  </div>
                              </div>
                          </div>
                          <!-- Editing Area -->

                          <!--hidden address changer.. -->
                          <div id="adrDiv" style="display: none" class="address-book">
                              <div style="
                            min-height: auto;
                            padding-top: 10px;
                            max-height: 212px;
                            overflow: auto;
                          " class="address-book-table scroll">
                                  <div class="next-table">
                                      <div class="next-table-inner">
                                          <div class="next-table-body">
                                              <table style="font-size: 13px; width: 100%;">
                                                       {% for address in newaddress %}
                                                  <tbody>
                                                      <tr class="next-table-row">
                                                          <td class="next-table-cell">
                                                              <div style="
                                                      text-align: left;
                                                      padding: 0px !important;
                                                      margin-bottom: 10px;
                                                      " class="next-table-cell-wrapper">
                                                                  {{address.full_name}}
                                                              </div>
                                                          </td>
                                                          <td class="next-table-cell">
                                                              <div style="
                                            text-align: left;
                                            padding: 0px !important;
                                            margin-bottom: 10px;
                                          " class="next-table-cell-wrapper">
                                                                  {{address.address}}
                                                              </div>
                                                          </td>
                                                          <td style="width: 10%" class="next-table-cell">
                                                              <div class="next-table-cell-wrapper">
                                                                  {% if address.isDefault == True %}
                                                                  <i style="color: #eb6529" id="checked"
                                                                      class="fas fa-check-circle"></i>
                                                                  <input style="display: none" name="isDefaultName"
                                                                      CAddressId="{{address.id}}" type="radio"
                                                                      class="isDefaultClass cHK"
                                                                      value="{{address.isDefault}}" />
                                                                  {% else %}

                                                                  <input id="circlebox" name="isDefaultName"
                                                                      CAddressId="{{address.id}}" type="radio"
                                                                      class="isDefaultClass cHK"
                                                                      value="{{address.isDefault}}" />
                                                                  {% endif %}
                                                              </div>
                                                          </td>
                                                      </tr>
                                                  </tbody>
                                                  {% endfor %}
                                              
                                                 
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!--hidden address changer.. -->

                          <div class="order-summery">
                              <div class="os-title">
                                  <h1>Order Summary</h1>
                              </div>
                              <div class="os-total-section">
                                  <div class="os-total-text">
                                      <div class="os-total">
                                          Subtotal <span class="tottal">({{len}} items)</span>
                                      </div>
                                  </div>
                                  <div class="os-tatal-con">
                                      <span> ৳ {{subTotal}}</span>
                                  </div>
                              </div>
                              {% if discount %}
                              <div class="os-shipping">
                                  <div class="os-sipping-text">
                                      <span>Coupon or voucher</span>
                                  </div>
                                  <div class="shipping-money">
                                      <span> ৳ - {{discount}}</span>
                                  </div>
                              </div>
                              {% endif %}

                              {% if buyNowDiscount %}
                              <div class="os-shipping">
                                  <div class="os-sipping-text">
                                      <span>Coupon or voucher</span>
                                  </div>
                                  <div class="shipping-money">
                                      <span> ৳ - {{buyNowDiscount}}</span>
                                  </div>
                              </div>
                              {% endif %}

                              <div class="os-shipping">
                                  <div class="os-sipping-text">
                                      <span>Shipping fee</span>
                                  </div>
                                  <div class="shipping-money">
                                      <span> ৳ {{shippingCost}}</span>
                                  </div>
                              </div>
                              <div class="total-section">
                                  <div class="total-text">
                                      <span>Total:</span>
                                  </div>
                                  <div class="total-amount">
                                      <span class="amount"> ৳ {{totalAmount}}</span>
                                  </div>
                              </div>
                              <div class="ck-pay-btn">
                                  {% if from == 'buyNow' %}
                                  <a href="{% url 'bwordermakerurlname' %}">
                                      <button id="PTPayBtn" class="pay-btn">Proceed to pay</button>
                                  </a>
                                  {% else %} 
                                  <a href="{% url 'ctordermakerurlname' %}">
                                      <button id="PTPayBtn" class="pay-btn">Proceed to pay</button>
                                  </a>
                                  {% endif %}

                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>




<!-- payment-right section -->
<div class="payment-right">
  <div class="payment-posi">

      <div class="payment-right-main">
          <div class="ck-pay-btn">
              <button class="pay-btn">Proceed to pay</button>
          </div>
          <div class="payment-right-title">
              <h1 class="ck-r-t">Shipping & Billing</h1>
          </div>
          <div class="ck-profile">
              <div class="ck-profile-text">
                  <span class="ck-icn"><i class="fa fa-map-marker-alt"></i></span>
                  <span class="ck-profile-name">
                      Bahadur
                  </span>
              </div>
              <div class="ck-profile-edit">
                  <a href="#" class="ck-edit">Edit</a>
              </div>
          </div>
          <div class="ck-all-address">
              <span class="ck-address">sadar, Rajbari Math Joydebpur, Gazipur, Dhaka</span>
          </div>
          <div class="billing-address">
              <div class="billing-address-tex">
                  <span class="billing-icons">
                      <i class="fa fa-list-alt"></i>
                  </span>
                  <span class="billing-text">Bill to the same address</span>
              </div>
              <div class="bill-address-edit">
                  <a href="" class="b-address-edit">Edit</a>
              </div>
          </div>

          <div class="phone-address">
              <div class="phone-address-tex">
                  <span class="phone-icons">
                      <i class="fa fa-phone"></i>
                  </span>
                  <span class="phone-text">098765432d1</span>
              </div>
              <div class="phone-address-edit">
                  <a href="" class="p-address-edit">Edit</a>
              </div>
          </div>

          <div class="email-address">
              <div class="email-address-tex">
                  <span class="email-icons">
                      <i class="fa fa-envelope"></i>
                  </span>
                  <span class="email-text">abc@gmail.com</span>
              </div>
              <div class="email-address-edit">
                  <a href="" class="e-address-edit">Edit</a>
              </div>
          </div>

          <div class="order-summery">
              <div class="os-title">
                  <h1>Order Summary</h1>
              </div>
              <div class="os-total-section">
                  <div class="os-total-text">
                      <div class="os-total">
                          Subtotal <span class="tottal">(3 Items)</span>
                      </div>
                  </div>
                  <div class="os-tatal-con">
                      <span> ৳ 250</span>
                  </div>
              </div>
              <div class="os-shipping">
                  <div class="os-sipping-text">
                      <span>Shipping fee</span>
                  </div>
                  <div class="shipping-money">
                      <span> ৳ 25</span>
                  </div>
              </div>
              <div class="total-section">
                  <div class="total-text">
                      <span>Total:</span>
                  </div>
                  <div class="total-amount">
                      <span class="amount"> ৳ 2500</span>
                  </div>
              </div>
              <div class="ck-pay-btn">
                  <button class="pay-btn">Proceed to pay</button>
              </div>
          </div>
      </div>
  </div>
</div>