{% extends 'app/base.html' %} 
{% load static %}
{% block css %} 
<link rel = "stylesheet" href = "{% static 'app/css/fontend.css' %}">
<link rel = "stylesheet" href = "{% static 'app/css/changepassword.css' %}">

{% endblock css %}
{% block header %} 
{% endblock header %}
 {% block body %}
    <div class="change-password">
      <div class="change-password-container">
        <div class="change-pass-main">
          <div class="change-pass-head">
            <a style= "color: white;" href="{% url 'home' %}">
              needebd
            </a>
          </div>
          <div class="change-pass-title">
            <span>Change your password?</span>
          </div>
          <div class="password-change">
            <form action="" class="change-form">
              <div class="change-input">
                <input type="password" placeholder="Enter old password" />
              </div>
              <div class="change-input">
                <input type="password" placeholder="Enter New Password" />
              </div>
              <div class="change-input">
                <input type="password" placeholder="Confirm Password" />
              </div>
              <div class="change-input">
                <a href="#">Submit</a>
              </div>
            </form>
            <div class="back-to-login">
              <span>Back to log in</span>
              <span class="ccbr"
                ><a href="/templates/app/singin.html">sing in</a></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock body %}

{% block footer %} 
{% endblock footer %}
{% block js %} 
<script src = "{% static 'app/js/productPage.js' %}"></script>
{% endblock js %}
