{% extends 'app/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/fontend.css' %}">
<link rel="stylesheet" href="{% static 'app/css/changepassword.css' %}">

{% endblock css %}
{% block header %}
{% endblock header %}
{% block body %}
<div class="change-password">
  <div class="change-password-container">
    <div class="change-pass-main">
      <div class="change-pass-head">
        <a style="color: white;" href="{% url 'home' %}">
          needebd
        </a>
      </div>
      <div class="password-change">

        <form action="" class="change-form" method="post" novalidate>
          {% csrf_token %}
          {% for fm in form %}
          <div class="form-group">
            <div class="change-input">
              {{fm}}
            </div>
            
            <small class="text-danger">
              {{fm.errors|striptags}} <br>
            </small>
          </div>
          {% endfor %}
          <div class="change-input">
            <input class="save" type="submit" value="Save">
          </div>
          {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
          <p class="alert alert-danger">
            {{error}}
          </p>
          {% endfor %}
          {% endif %}
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock body %}

{% block footer %}
{% endblock footer %}
{% block js %}
<script src="{% static 'app/js/productPage.js' %}"></script>
{% endblock js %}