{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block css %}   
 <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}"> 
 <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.css' %}">
{% endblock %}
{% block body %}
<div class="container my-5">
 <div class="row">
  <div class="text-center col-sm-3 border-end">
 <h3>Welcome Sonam</h3>
  
   <ul class="list-unstyled">
    <li class="d-grid btn btn-primary my-3" style="cursor: default;">Change Password</li>
   </ul>
  </div>
  <div class="col-sm-5 offset-sm-1">
  
    <form action="" method="post" novalidate class="shadow p-5">
        {% csrf_token %}
        {% for fm in form %}
        <div class="form-group">
            {{fm.label_tag}}
            {{fm}}
            <small class="text-danger">
                {{fm.errors|striptags}} <br>
            </small>
        </div>
        {% endfor %}
      
        <input class="btn btn-primary mt-4" type="submit" value="Save">
     
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger">
            {{error}}
        </p>
        {% endfor %}
        {% endif %}
    </form>

  </div>
 </div>
</div>
{% endblock body %}