span#hacoupon{
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
}

#titleCont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.card-body{
    padding: 7px !important;
}

#cancelIcon{
    cursor: pointer;
}
