    /*============ this is the  Cart page Start  =============*/

    .cart-section {
        width: 97%;
        margin: 0px auto 20px auto;
        padding: 8px;
    }

    .cart-section-main {
        width: 100%;
    }

    .add-cart-row {
        width: 100%;
        display: flex;
    }

    .add-cart-left {
        width: 70%;
        background-color: #ffff;
        box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
    }

    .add-cart-left-main {
        width: 100%;
    }

    .add-cart-left-content {
        width: 100%;
    }

    .add-cart-left-top {
        width: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
    }

    .add-cart-left-top-title {
        width: 25%;

    }

    .top-title-1 h2 {
        font-size: 22px;
        line-height: 46px;
        padding: 0 24px;
        font-weight: 500;
        color: #0F1111;
    }

    .add-cart-content-right {
        width: 75%;
        display: block;
    }

    .right-content-details {

        float: right;
    }

    .right-content-details-row {
        display: flex;


    }

    .add-cart-left-top-deliver {
        display: flex;
        width: 90px;
        margin-right: 12px;
        align-items: center;
        line-height: 45px;

    }

    .add-cart-deliver-input {
        margin: 10px 12px;

    }

    .add-cart-deliver-input input {
        padding: 0 0 6px;
        font-size: 14px;
        border: none;
        border-bottom: 2px solid #2874f0;
        font-weight: 500;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: inline-block;
        line-height: 25px;
        outline: none;
        box-shadow: none;
        width: 160px;
        margin-right: -4px;
    }

    .add-cart-deliver-input input:focus {
        outline: none;
    }

    .add-cart-deliver-input .rtpr {
        cursor: not-allowed;
        font-weight: 500;
        font-size: 14px;
        color: #878787;
        position: relative;
        border-bottom: 2px solid #2874f0;
        display: inline-block;
        padding-bottom: 6px;
        line-height: 25px;
        padding-left: 6px;
    }



    .add-to-cart-d {
        width: 100%;

    }

    .add-cart-d-con {
        width: 100%;
        padding: 20px;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
        border-top: 1px solid #f0f0f0 !important;

    }

    .add-cart-d-con-re {
        width: 100%;
        display: flex;
    }


    .cart-d-image {
        height: 112px;
        width: 15%;
        position: relative;
        margin: 0 auto;
    }

    .cart-d-image img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        opacity: 1;
        max-width: 100%;
        max-height: 100%;
    }

    .add-cart-pro-de {
        width: 50%;
    }

    .add-cart-pro-de {
        padding: 0 24px 12px;
        vertical-align: top;
        min-height: 112px;

        flex: 1 1;
        overflow: hidden;
        max-width: 460px;
    }

    .pro-de-title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 20px;

    }

    .pro-de-title a {
        font-size: 16px;
        color: #444;
        line-height: 1;
        display: inline;
    }

    .pro-de-size,
    .pro-de-brand {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        color: #878787;
        font-size: 14px;
        height: 20px;
    }

    .pro-de-size {
        display: flex;
        margin-top: 1px;
    }

    .pro-de-size .tk {
        font-size: 14px;
        margin-right: 10px;
        color: #878787;
        text-decoration: line-through;
    }

    .pro-de-size .tk-now {
        margin-right: 12px;
        font-size: 16px;
        color: #041e42;
    }

    .pro-de-size .tk-per {
        cursor: not-allowed;
        color: #041e42;
        font-weight: 600;
    }

    .add-to-cart-d-btn {
        padding-top: 8px;
        display: flex;
    }

    .cart-d-p-btn {
        display: flex;
    }

    .btn-sub,
    .btn-add {
        width: 28px;
        height: 28px;
        background: linear-gradient(#fff, #f9f9f9);
        display: inline-block;
        border: 1px solid #c2c2c2;
        cursor: pointer;
        font-size: 16px;
        border-radius: 50%;
        padding-top: 1px;
        line-height: 1;
    }

    .cart-d-input {
        display: inline-block;
        width: 45px;
        height: 28px;
        margin: 0 5px;
        border-radius: 2px;
        background-color: #fff;
        border: 1px solid #c2c2c2;
    }

    .cart-d-input .cart-d-rp {
        border: none;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        vertical-align: middle;
        text-align: center;
    }

    .cart-d-input .cart-d-rp:focus {
        outline: none;
    }

    .cart-save-remove {
        display: flex;
        padding-left: 20px;
    }

    .cart-d-save {
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 20px;
        padding-top: 5px;
        font-weight: 500;
        cursor: pointer;

    }

    .cart-d-save:hover {
        color: red
    }

    .cart-d-remove {
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 20px;
        padding-top: 5px;
        font-weight: 500;
        cursor: pointer;
    }

    .cart-d-remove:hover {
        color: red;
    }

    .place-order {
        width: 100%;

    }

    .place-or-container {
        width: 100%;
        padding: 20px;


    }

    .place-or-container form {
        text-align: right;
        display: block;
    }

    .place-order .place-order-btn {
        text-transform: capitalize;
        width: 200px;
        padding: 18px 10px;
        border: none;
        background: #444;
        color: #fff;
        font-size: 16px;
        font-weight: 500;

        margin-right: 15px;


    }

    .add-cart-right {
        width: 30%;
        margin-left: 10px;
        position: sticky;
        top: 64px;
        bottom: 0;
        z-index: 2;
        height: 300px;
    }

    .add-cart-price-main {
        width: 100%;
        background-color: white;
        padding-bottom: 12px;
        margin-bottom: 20px;
        box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
    }

    .cart-price-details-title {
        width: 100%;
        height: 53px;
        padding: 13px 12px;
        font-size: 14px;
        text-transform: uppercase;
        color: #444;
        border-radius: 2px 2px 0 0;
        border-bottom: 1px solid #eaeded;
        ;
    }

    .add-cart-p-details {
        width: 100%;
        padding: 0 20px;
    }

    .cart-p-details {
        display: flex;
        margin: 8px 0;
        justify-content: space-between;
    }

    .cart-p-details-itm,
    .cart-dis-title,
    .cart-de-title {
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 400;
    }

    .cart-p-price,
    .cart-dis-price,
    .delivery-de-type {
        font-size: 14px;
        font-weight: 400;
    }

    .cart-dis-details,
    .cart-de-charge {
        display: flex;
        margin: 8px 0;
        justify-content: space-between;
    }

    .delivery-de-type .type {
        text-transform: uppercase;
        color: #ffc220;
    }

    .cart-d-total {
        border-top: 1px dashed #eaeded;
        border-bottom: 1px dashed #eaeded;
        margin: 8px 0;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
    }

    .total-title {
        font-size: 16px;
        color: #444;
        font-weight: 500;
    }

    .total-price {
        font-size: 18px;
        color: #212121;
        font-weight: 600;
    }

    .save-text {
        width: 100%;
        font-size: 16px;
        color: #ffc220;
        margin-top: 20px;
    }

.couponMainDiv{
    text-align : center;
}




.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.h5, h5 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.mt-3 {
    margin-top: 1rem !important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}





    /*============ this is the  Cart page end  =============*/