.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.login-form {
    width: 330px;
    margin: 20px;
}

body>div>div>img {
    height: 40px;
    margin-left: 60px;
    margin-top: 23px;
    width: 200px;
}

.card-img-top {
    width: 200px;
}

body>div>div>div.card-body>div {
    justify-content: center;
    margin-top: 15px;
}

.form-group {
    margin-top: 10px;
}

.containeR{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: 10px;
}
.description{
    color: #525050;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.signin{
    width: 40%;
    text-align: center;
    background: #60ad60;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px){
    .containeR{
        margin-top: 68px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}