<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- font-awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="../../static/app/css/fontend.css">

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Cairo font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&family=Jost:wght@200;300;400&display=swap"
    rel="stylesheet">

</head>
<body>
    <div class="create-account-section-m">
          <div class="create-logo">
            <div class="create-logo-m">
              <a href="/templates/app/index.html">
                <img src="/static/app/image/logo-1.png" alt="">
              </a>
            </div>
          </div>
        <div class="account-main">
            <form id="form" class="form-account">
                <h2>Create your account</h2>
                <div class="form-control">
                 
                  <input type="text" id="username" placeholder="Enter Username">
                  <small>Error message</small>
                </div>
                <div class="form-control">
                 
                  <input type="text" id="email" placeholder="Enter Email">
                  <small>Error message</small>
                </div>
                <div class="form-control">
                  
                  <input type="password" id="password" placeholder="Enter Password">
                  <small>Error message</small>
                </div>
                <div class="form-control">
                 
                  <input type="password" id="password2" placeholder="Enter Password Again">
                  <small>Error message</small>
                </div>
               <div class="form-control">
                <a type="submit" class="account-create-btn">Submit</a>
               </div>
               
              </form>
              <div class="form-control">
                <h3 class="trbs">Already have an account?</h3>
                <a href="/templates/app/singin.html" class="sgps">
                 sing in
                </a>
            </div>
            <div class="account-footer">
              <ul class="account-footer-link">
                 <li class="af-link-item">
                   <a href="#">privacy policy</a>
                 </li>
                 <li class="af-link-item">
                  <a href="#">privacy policy</a>
                </li>
              </ul>
            </div>
        </div>
      
    </div>


 <!-- ----------This is the start of the account footer----------------->


<!-- ----------This is the end of the account footer----------------->



 <script src="/static/app/js/account.js"></script>
</body>
</html>