<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="/static/app/css/fontend.css">
  <link rel="stylesheet" href="/static/app/css/allCategory.css">

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Cairo font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&family=Jost:wght@200;300;400&display=swap"
    rel="stylesheet">

</head>

<body>
  <!--=============== Header-menu section start=====================-->
  <!-- $Header Menu -->
  <div class="main_container" id="p260">
    <div class="sub_container">
      <div class="logo_and_nav_icon_container">
        <button class="nav_icon">
          <!-- <span class="g_b"><img alt="null" aria-hidden="true" width="24" height="24"
              src="//i5.walmartimages.com/dfw/63fd9f59-6aed/824dae3a-da8f-4afb-be97-a42a31a64d4f/v1/menu-white.760aac729c86acf087c20c69b06b9a0875db4e8d.svg">
            </span> -->
          <svg class="icon-svg" style="color: white;" stroke="currentColor" fill="currentColor" stroke-width="0"
            viewBox="0 0 24 24" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
          </svg>
        </button>
        <div class="logo_container">
          <a href="/templates/app/index.html">
            <span>neede bd</span>
          </a>

        </div>
      </div>

      <form action="" method="get" role="search" class="search-area mobilehide">
        <button class="left-search-area-container">
          <span class="left-search-area-icon">
            <img class="left-search-area-icon-image" alt="null" aria-hidden="true" width="18" height="18"
              src="//i5.walmartimages.com/dfw/63fd9f59-392b/48a699e6-5299-4b55-8895-28b7af730df3/v1/caret-down-black.5d3320ad009f3bcb0c940ed92c776cce3840db43.svg">
          </span>
        </button>
        <input placeholder="search in neede bd..." type="text" class="search-field">
        <button class="search-icon-container">
          <span class="search-icon">
            <img alt="null" aria-hidden="true" width="18" height="18"
              src="//i5.walmartimages.com/dfw/63fd9f59-43e0/1ed7036a-feba-43ca-8885-1d937a9aa4f2/v1/search-nav-black.b92f68559cf70c3bcfb9eae1d8dcca59ca58af11.svg">
          </span>
        </button>
      </form>

      <div class="account-and-myitem-container">
        <div class="account-container">
          <button class="account-subcontainer">
            <span class="account-subcontainer2">
              <span class="account-subcontainer3">
                <span class="account-logo">
                  <img alt="null" aria-hidden="true" width="24" height="24" src="/static/app/image/user.svg">
                </span>
                <span class="account-title">
                  Account
                </span>
              </span>
            </span>
          </button>
        </div>
        <div class="cart-container">
          <a class="cart-subcontainer">
            <span class="cart-subcontainer2">
              <span class="cart-subcontainer3">
                <span class="cart-subcontainer4">
                  <img alt="null" aria-hidden="true" width="24" height="24"
                    src="//i5.walmartimages.com/dfw/63fd9f59-392b/48a699e6-5299-4b55-8895-28b7af730df3/v1/cart-nav-white.00018279d92b8685ff0d50c146eefe5491200c0b.svg">
                </span>
                <span class="">
                </span>
              </span>
            </span>
          </a>
          <div aria-hidden="true" class="count">0</div>
        </div>
      </div>
    </div>
  </div>
  <!-- $Spacer Section -->
  <div class="spacer" id="w260"></div>
  <!-- $Serach Form Mobile -->
  <div class="sac desktophide mobileshow">
    <form action="" method="get" role="search" class="search-area">

      <input placeholder="Search in neede bd..." type="text" class="search-field">
      <button class="search-icon-container">
        <span class="search-icon">
          <img alt="null" aria-hidden="true" width="18" height="18"
            src="//i5.walmartimages.com/dfw/63fd9f59-43e0/1ed7036a-feba-43ca-8885-1d937a9aa4f2/v1/search-nav-black.b92f68559cf70c3bcfb9eae1d8dcca59ca58af11.svg">
        </span>
      </button>
    </form>
  </div>
  <!--=============== header section end =====================-->


  <div class="all-categories-section">
    <div class="categories-section-main">
      <div class="categories-content-lp">
        <div class="us-en">
          <div class="ux-breadcump">
            <a href="/templates/app/index.html">Home</a>
            <span>></span>
            <h2>all categories</h2>
          </div>
        </div>
        <div class="categories-static-nav" id="nav-contain">
          <table class="cg-nav-wearper" style="position:relative; top: auto; left: auto; bottom: auto;">
            <tbody class="tb">

              <tr class="t-r">
                <td class="anchor-wrap anchor1-wrap selected" data-role="anchor1">
                  <a class="anchor1 anchor-agricuture" href="#food">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">food</span>
                  </a>
                </td>
                <td class="anchor-wrap anchor1-wrap" data-role="anchor2">
                  <a class="anchor1 anchor-agricuture" href="#computer">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">computer</span>
                  </a>
                </td>
                <td class="anchor-wrap anchor1-wrap" data-role="anchor3">
                  <a class="anchor1 anchor-agricuture" href="#cloth">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">cloth</span>
                  </a>
                </td>
                <td class="anchor-wrap anchor1-wrap" data-role="anchor4">
                  <a class="anchor1 anchor-agricuture" href="#water">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">water</span>
                  </a>
                </td>
                <td class="anchor-wrap anchor1-wrap" data-role="anchor5">
                  <a class="anchor1 anchor-agricuture" href="#rice">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">Rice</span>
                  </a>
                </td>
                <td class="anchor-wrap anchor1-wrap" data-role="anchor6">
                  <a class="anchor1 anchor-agricuture" href="#oil">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">oil</span>
                  </a>
                </td>


              </tr>

              <tr class="t-r">
                <td class="anchor-wrap anchor1-wrap" data-role="anchor1">
                  <a class="anchor1 anchor-agricuture" href="#improvment">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">Home Improvement</span>
                  </a>
                </td>
                <td class="anchor-wrap anchor1-wrap" data-role="anchor2">
                  <a class="anchor1 anchor-agricuture" href="#garden">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">Home & garden</span>
                  </a>
                </td>
                <td class="anchor-wrap anchor1-wrap" data-role="anchor3">
                  <a class="anchor1 anchor-agricuture" href="#sport">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">Sports & Entertainment</span>
                  </a>
                </td>
                <td class="anchor-wrap anchor1-wrap" data-role="anchor4">
                  <a class="anchor1 anchor-agricuture" href="#education">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">Education & Office Supplies</span>
                  </a>
                </td>
                <td class="anchor-wrap anchor1-wrap" data-role="anchor5">
                  <a class="anchor1 anchor-agricuture" href="#toy">
                    <i class="cg-icons">
                      <img src="http://ae01.alicdn.com/kf/HTB1TnMHIpXXXXXmXFXX760XFXXXd.png" alt="">
                    </i>
                    <span class="cg-desc">Toys & Hobbies</span>
                  </a>
                </td>
                <td class="anchor-wrap anchor1-wrap" data-role="anchor6">
                  <a class="anchor1 anchor-agricuture" href="#security">
                    <i class="cg-icons">
                     .....
                    </i>
                    <span class="cg-desc">More categories</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
      <!-- categories-sub -->
      <div class="cg-page" style="margin-top: 0;">
        <div class="until-clearfix">
          <div class="cg-main">
            <div class="cg-item">
              <div class="item-head">
                <h2 id="food">food</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cg-item" id="computer">
              <div class="item-head">
                <h2>computer</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cg-item" id="cloth">
              <div class="item-head">
                <h2>cloth</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>
           

            <div class="cg-item" id="water">
              <div class="item-head">
                <h2>water</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cg-item" id="rice">
              <div class="item-head">
                <h2>rice</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cg-item" id="oil">
              <div class="item-head">
                <h2>oil</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cg-item" id="improvment">
              <div class="item-head">
                <h2>home improvement</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cg-item" id="garden">
              <div class="item-head">
                <h2>Home & Garden</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cg-item" id="sport">
              <div class="item-head">
                <h2>Sports & Entertainment</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cg-item" id="education">
              <div class="item-head">
                <h2>Education & Office Supplies</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="cg-item" id="toy">
              <div class="item-head">
                <h2>Toys & Hobbies</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cg-item" id="security">
              <div class="item-head">
                <h2>Security & Protection</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="cg-item" id="">
              <div class="item-head">
                <h2>Lights & Lighting</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="cg-item" id="">
              <div class="item-head">
                <h2>Consumer Electronics</h2>
              </div>
              <div class="sub-item">
                <div class="sub-item-content-warpper">
                  <ul class="sub-item-content">
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                    <li><a href="#">orange</a></li>
                  </ul>
                </div>
              </div>
            </div>







          </div>
        </div>
      </div>
    </div>
  </div>



  <!------------This is the end of the all categories item section----->






  <!-- $Footer Section -->
  <div class="footer-section ">
    <div class="footer-main" style="background-color: #041E42;">
      <div class="footer-top-row">
        <!-- about -->
        <div class="about footer-cl">

          <ul class="all-link">
            <li><a href="#">contact us</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">careers</a></li>
            <li><a href="#">needebd stories</a></li>
            <li><a href="#">press</a></li>
            <li><a href="#">needebd wholesels</a></li>
          </ul>
        </div>
        <!-- Help -->
        <div class="about footer-cl mobilehide400">

          <ul class="all-link">
            <li><a href="#">contact us</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">careers</a></li>
            <li><a href="#">needebd stories</a></li>
            <li><a href="#">press</a></li>
            <li><a href="#">needebd wholesels</a></li>
          </ul>
        </div>

        <!-- SOCIAL -->


        <!-- Policy -->
        <div class="about footer-cl">

          <ul class="all-link">
            <li><a href="#">contact us</a></li>
            <li><a href="#">about us</a></li>
            <li><a href="#">careers</a></li>
            <li><a href="#">needebd stories</a></li>
            <li><a href="#">press</a></li>
            <li><a href="#">needebd wholesels</a></li>
          </ul>
        </div>

        <!-- mail us -->
        <div class="about footer-cl mail adress mobilehide654">

          <ul class="all-link">
            <li>Needebd Internet Private Limited,</li>
            <li>Buildings Alyssa, Begonia &amp; </li>
            <li>Clove Embassy Tech Village</li>
            <li>Outer Ring Road, Devarabeesanahalli Villag
            </li>
            <li>
            </li>
            <li>Bengaluru, 560103</li>
            <li>Karnataka, India</li>

          </ul>
        </div>

        <!-- mail us -->

      </div>

      <div class="about footer-cl mail adress mobilehide654m desktophide">

        <ul class="all-link ulp30">
          <li>Needebd Internet Private Limited,</li>
          <li>Buildings Alyssa, Begonia &amp; </li>
          <li>Clove Embassy Tech Village</li>
          <li>Outer Ring Road, Devarabeesanahalli Villag
          </li>
          <li>
          </li>
          <li>Bengaluru, 560103</li>
          <li>Karnataka, India</li>

        </ul>
      </div>
      <div class="hr"></div>
      <!-- footer bottom -->
      <div class="footer-bottom">

        <div>
          <a href="#">
            <img src="/static/app/image/payment-method.svg" alt="">

          </a>
        </div>
      </div>
    </div>
  </div>

  <!------------ all dropdown section is here  form start----------->

  <!------------This is the start of the account dropdown section----->

  <div class="account-dropdown-main" id="main-dorpdown">
    <div class="account-dropdown">
      <div class="account-dropdown-content">
        <div class="account-dropdown-top">
          <div class="account-left">
            <div class="account-row">
              <div class="account-img">
                <img src="/image/user-white.svg" alt="" width="24" height="24">
              </div>
              <div class="account-title">
                <h2>Account</h2>
              </div>
            </div>
          </div>

          <div class="account-right">
            <div class="close-section">
              <button class="close-account-btn">
                <img src="/image/remove-black.svg" alt="" width="24" height="24">

              </button>
            </div>
          </div>
        </div>
        <div class="all-elements-link">
          <a href="/Html files/singin.html" class="elements">
            <div class="elements-row">
              <div class="elements-image">
                <img src="/image/sign-in-black.svg" alt="" width="18" height="18">
              </div>
              <div class="elements-name">
                sing in
              </div>
            </div>
          </a>

          <a href="#" class="elements">
            <div class="elements-row">
              <div class="elements-image">
                <img src="/image/package-black.svg" alt="" width="18" height="18">
              </div>
              <div class="elements-name">
                Track orders
              </div>
            </div>
          </a>

          <a href="#" class="elements">
            <div class="elements-row">
              <div class="elements-image">
                <img src="/image/user-black.svg" alt="" width="18" height="18">
              </div>
              <div class="elements-name">
                account
              </div>
            </div>
          </a>
          <a href="#" class="elements">
            <div class="elements-row">
              <div class="elements-image">
                <img src="/image/help-black.svg" alt="" width="18" height="18">
              </div>
              <div class="elements-name">
                help
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- This is the start of th Html site menu bar section -->
  <div class="end">
    <div class="click-bar-site-menu">
      <div class="click-bar-all">
        <div class="click-bar-site-menu-top ">
          <div class="click-bar-site-menu-top-row">
            <div class="click-bar-site-logo">
              <a href="#"><img src="/image/sitelogo.png" alt=""></a>
            </div>
            <div class="site-menu-close">
              <button class="site-menu-close-btn"">
                      <span>
                        <img src=" /image/remove.svg" alt="" width="38" height="24">
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="click-bar-site-menu-container">
          <div class="click-bar-site-menu-main">
            <div class="click-bar-site-menu-bottom">
              <div class="web-link">
                Needebd.com
              </div>
              <div class="click-bar-site-menu-bottom-header">
                <!-- link-1 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="/image/icons.svg" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title l-t">
                      track order
                    </div>
                  </div>
                </a>
                <!-- link-2 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="/image/incons-2.svg" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title l-t">
                      Buy Again
                    </div>
                  </div>
                </a>
                <!-- link-3 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="/image/icons-3.svg" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title l-t">
                      Lists
                    </div>
                  </div>
                </a>
                <!-- link-4 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="/image/icons-4.svg" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title l-t">
                      Walmart+
                    </div>
                  </div>
                </a>
                <!-- link-5 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="/image/icons-5.svg" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title l-t">
                      Walmart Credit Card
                    </div>
                  </div>
                </a>
                <!-- link-6 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="/image/incons-2.svg" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title ">
                      Your Location:
                    </div>
                  </div>
                </a>
                <!-- link-7 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="/image/icons.svg" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty last-empty">Local Store</div>
                    <div class="link-title link-right-icon">
                      <span>
                        <button class="lg-i-btn">
                          <img src="/image/right-icons.svg" alt="" width="14" height="14">
                        </button>
                      </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <!-- department -->

            <div class="click-bar-site-menu-header-department">
              <div class="department-title">
                <div class="department-title-row">
                  <div class="department-name">
                    <h2>Departments
                    </h2>
                  </div>
                  <div class="department all-link">
                    <a href="#">see all</a>
                  </div>
                </div>
              </div>

              <!-- department-menus -->

              <div class="departments-menu">
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Savings Spotlight
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Back to School
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      College & Beyond Shop
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Electronics & Office
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Clothing, Shoes & Accessories
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Home, Furniture & Appliances
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Toys, Games, and Video Games
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Home Improvement
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Movies, Music & Books
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Baby
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Patio & Garden
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Food, Household & Pets
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Pharmacy, Health & Personal Care
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Beauty
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Sports, Fitness & Outdoors
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Auto, Tires & Industrial
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Photo & Personalized Shop
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Arts, Craft, Sewing & Party Supplies
                    </span>
                    <img src="/image/right-icons.svg" alt="" width="14" height="14">
                  </span>
                </button>
              </div>
            </div>



            <!-- bottom header -->
            <div class="click-bar-site-header-bottom-link">
              <!-- link-1 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="/image/bt-1.svg" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Registry
                  </div>
                </div>
              </a>
              <!-- link-2 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="/image/bt-2" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Gift finder
                  </div>
                </div>
              </a>
              <!-- link-3 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="/image/bt-3.svg" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    walmart Service
                  </div>
                </div>
              </a>
              <!-- link-4 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="/image/bt-4.svg" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Digital video by Vudu
                  </div>
                </div>
              </a>
              <!-- link-5 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="/image/bt-5.svg" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Welmart credit Cards
                  </div>
                </div>
              </a>
              <!-- link-6 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="/image/bt-6.svg" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    gift cards
                  </div>
                </div>
              </a>
              <!-- link-7 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="/image/bt-7.svg" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Weekly Ad
                  </div>
                </div>
              </a>
              <!-- link-8 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="/image/bt-8.svg" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Help
                  </div>
                </div>
              </a>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






  <script src="/static/app/js/productPage.js"></script>
  <script src="/static/app/js/fontend.js"></script>

</body>

</html>