<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>change password</title>
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="/static/app/css/fontend.css">
  <link rel="stylesheet" href="/static/app/css/changepassword.css">

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Cairo font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&family=Jost:wght@200;300;400&display=swap"
    rel="stylesheet">

</head>

<body>
   <div class="change-password">
       <div class="change-password-container">
           <div class="change-pass-main">
               <div class="change-pass-head">
                   <a href="index.html">
                       <img src="/static/app/image/logo-1.png" alt="">
                   </a>
               </div>
               <div class="change-pass-title">
                   <span>Change your password?</span>
               </div>
               <div class="password-change">
                   <form action="" class="change-form">
                       <div class="change-input">
                           <input type="password" placeholder="Enter old password">
                       </div>
                       <div class="change-input">
                        <input type="password" placeholder="Enter New Password">
                    </div>
                    <div class="change-input">
                        <input type="password" placeholder="Confirm Password">
                    </div>
                    <div class="change-input">
                       <a href="#">Submit</a>
                    </div>
                   </form>
                   <div class="back-to-login">
                       <span>Back to log in</span>
                       <span class="ccbr"><a href="/templates/app/singin.html">sing in</a></span>
                   </div>
               </div>
           </div>
       </div>
   </div>

</body>

</html>