<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>forgot</title>
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="../../static/app/css/fontend.css">

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Cairo font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&family=Jost:wght@200;300;400&display=swap"
    rel="stylesheet">

</head>

<body>
  <!-- ----------This is the start of forgot form-section----------------->

  <div class="forgot-section">
    <div class="forgot-logo">
      <div class="forgot-logo-m">
        <a href="/templates/app/index.html">
          <img src="/static/app/image/logo-1.png" alt="">
        </a>
      </div>
    </div>
    <div class="forgot-main">

      <div class="forgot-title">
        <h2>Forgot your password?</h2>
        <h2 class="lgbd">We can help.</h2>
      </div>
      <form action="" class="forgot-pass-main">
        <div class="forgot-input">
          <input type="email" placeholder="Email address (required)">
        </div>
        <div class="forgot-button-section">
          <a class="forgot-submit-btn">
            submit
          </a>
        </div>
        <div class="back-to-singin">
          <span style="font-weight: 500;">Remember your password?</span>
          <span><a href="/templates/app/singin.html" style="font-weight: 700;">sing in</a></span>
        </div>  
      </form>
      <div class="forgot-footer">
       <ul class="forgot-footer-link">
         <li><a href="#">help center</a></li>
         <li><a href="#">privacy policy</a></li>
       </ul>
      </div>
    </div>
  </div>

  <!-- ----------This is the start of the account footer----------------->

  <!-- ----------This is the end of the account footer----------------->


</body>

</html>