
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- font-awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="../../static/app/css/fontend.css">

  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Cairo font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&family=Jost:wght@200;300;400&display=swap"
    rel="stylesheet">

</head>
<body>
    <div class="form-section">
        <div class="home-logo">
            <div class="hl-logo">
              <a href="">
                  <img src="/static/app/image/logo-1.png" alt="">
              </a>
            </div>
        </div>
        <div class="form-main">
            
            <div class="singin-title">
                <h2>Sign in to your account</h2>
            </div>
            <form action="/Html files/index.html" class="form-box" id="sing-in-form"  name="form"  onsubmit="return validated()" method="post">
                <div class="input-section">
                   <input type="email" placeholder="Email address (required)" name="email" autocomplete="off">
                   <div class="email-error">
                       Enter your email address
                   </div>
                </div>
                <div class="input-section">
                   <input type="password" placeholder="password" name="password">
                   <div class="password-error">
                    Enter your password 
                </div>
                </div>
                <div class="forgot-pass-section">
                    <a href="/templates/app/forgot.html">forgot password?</a>
                </div>
                <div class="submit-section">
                   <a class="submit-btn">sing in</a>
                </div>  
            </form>
            <div class="crate-account-section">
                <h2>Don't you have an account</h2>

               <a href="/templates/app/account.html">
                   create account
               </a>
            </div>
            <div class="form-footer">
                <div class="form-f-content">
                    <ul class="f-link">
                        <li><a href="#"> Conditions of Use</a></li>
                        <li><a href="#"> help center</a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
        
    </div>


 <script src="/static/app/js/singIn.js"></script>
</body>
</html>
  
    
