    /*============ this is the  Cart page Start  =============*/

    .cart-section {
        width: 98%;
        margin: 0 auto 20px auto;
        padding: 8px;
    }

    .cart-section-main {
        width: 100%;
    }

    .add-cart-row {
        width: 100%;
        display: flex;
    }

    .add-cart-left {
        width: 70%;
        background-color: #ffff;
        box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
    }

    .add-cart-left-main {
        width: 100%;
    }

    .add-cart-left-content {
        width: 100%;
    }

    .add-cart-left-top {
        width: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
    }

    .add-cart-left-top-title {
        width: 25%;

    }

    .top-title-1 h2 {
        font-size: 22px;
        line-height: 46px;
        padding: 0 24px;
        font-weight: 500;
       color:#444;
       text-transform: capitalize;
    }

    .add-cart-content-right {
        width: 75%;
        display: block;
    }

    .right-content-details {

        float: right;
    }

    .right-content-details-row {
        display: flex;


    }

    .add-cart-left-top-deliver {
        display: flex;
        width: 90px;
        margin-right: 12px;
        align-items: center;
        line-height: 45px;

    }

    .add-cart-deliver-input {
        margin: 10px 12px;

    }

    .add-cart-deliver-input input {
        padding: 0 0 6px;
        font-size: 14px;
        border: none;
        border-bottom: 2px solid #2874f0;
        font-weight: 500;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        display: inline-block;
        line-height: 25px;
        outline: none;
        box-shadow: none;
        width: 160px;
        margin-right: -4px;
    }

    .add-cart-deliver-input input:focus {
        outline: none;
    }

    .add-cart-deliver-input .rtpr {
        cursor: not-allowed;
        font-weight: 500;
        font-size: 14px;
        color: #878787;
        position: relative;
        border-bottom: 2px solid #2874f0;
        display: inline-block;
        padding-bottom: 6px;
        line-height: 25px;
        padding-left: 6px;
    }



    .add-to-cart-d {
        width: 100%;

    }

    .add-cart-d-con {
        width: 100%;
        padding: 20px;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
        border-top: 1px solid #f0f0f0 !important;

    }

    .add-cart-d-con-re {
        width: 100%;
        display: flex;
    }


    .cart-d-image {
        height: 112px;
        width: 15%;
        position: relative;
        margin: 0 auto;
    }

    .cart-d-image img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        opacity: 1;
        max-width: 100%;
        max-height: 100%;
    }

    .add-cart-pro-de {
        width: 50%;
    }

    .add-cart-pro-de {
        padding: 0 24px 12px;
        vertical-align: top;
        min-height: 112px;

        flex: 1 1;
        overflow: hidden;
        max-width: 460px;
    }

    .pro-de-title {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 20px;

    }

    .pro-de-title a {
        font-size: 16px;
        color: #041e42;
        line-height: 1;
        display: inline;
        text-transform: capitalize;
        font-weight: 600;
    }

    .pro-de-size,
    .pro-de-brand {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        color: #444;
        font-size: 14px;
        height: 20px;
    }

    .pro-de-size {
        display: flex;
        margin-top: 1px;
        color:#444;
    }

    .pro-de-size .tk {
        font-size: 14px;
        margin-right: 10px;
        color: #444;
        text-decoration: line-through;
    }

    .pro-de-size .tk-now {
        margin-right: 12px;
        font-size: 16px;
        color: #041e42;
    }

    .pro-de-size .tk-per {
        cursor: not-allowed;
        color: #444;
        font-weight: 600;
    }

    .add-to-cart-d-btn {
        padding-top: 8px;
        display: flex;
    }

    .cart-d-p-btn {
        display: flex;
    }

    .btn-sub,
    .btn-add {
        width: 28px;
        height: 28px;
       background-color: #EB6529;
        display: inline-block;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 50%;
        padding-top: 1px;
        line-height: 1;
        color: #fff;
        font-weight: bold;
    }

    .cart-d-input {
        display: inline-block;
        width: 45px;
        height: 28px;
        margin: 0 5px;
        border-radius: 2px;
        background-color: #EB6529;
        border: none;
       
        font-weight: bold;
    }

    .cart-d-input .cart-d-rp {
        border: none;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        vertical-align: middle;
        text-align: center;
        background-color: transparent;
        color: #fff;
    }

    .cart-d-input .cart-d-rp:focus {
        outline: none;
    }

    .cart-save-remove {
        display: flex;
        padding-left: 20px;
    }

    .cart-d-save {
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 20px;
        padding-top: 5px;
        font-weight: 500;
        cursor: pointer;
        color:#444;

    }

    .cart-d-save:hover {
        color: red
    }

    .cart-d-remove {
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 20px;
        padding-top: 5px;
        font-weight: 500;
        cursor: pointer;
        color:#444;
    }

    .cart-d-remove:hover {
        color: red;
    }

    .place-order {
        width: 100%;

    }

    .place-or-container {
        width: 100%;
        padding: 20px;


    }

    .place-or-container form {
        text-align: right;
        display: block;
    }

    .place-order .place-order-btn {
        text-transform: capitalize;
        width: 200px;
        padding: 10px 10px;
        border: none;
        background: #041e42;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
         font-family: Cairo;
        margin-right: 15px;


    }

    .add-cart-right {
        width: 30%;

        background-color: #fff;
        margin-left: 10px;
        position: sticky;
        top: 64px;
        bottom: 0;
        z-index: 2;
        height: 300px;
        box-shadow: rgb(0 0 0 / 20%) 0px 1px 2px 0px;
        
    }

    .add-cart-price-main {
        width: 100%;
    }

    .cart-price-details-title {
        width: 100%;
        height: 53px;
        padding: 13px 12px;
        font-size: 14px;
        text-transform: uppercase;
        color: #444;
        border-radius: 2px 2px 0 0;
        border-bottom: 1px solid #eaeded;
        ;
    }

    .add-cart-p-details {
        width: 100%;
        padding: 0 20px;
    }

    .cart-p-details {
        display: flex;
        margin: 8px 0;
        justify-content: space-between;
        color: #444;
    }

    .cart-p-details-itm,
    .cart-dis-title,
    .cart-de-title {
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 400;
        color:#444;
    }

    .cart-p-price,
    .cart-dis-price,
    .delivery-de-type {
        font-size: 14px;
        font-weight: 400;
        color:#444;
    }

    .cart-dis-details,
    .cart-de-charge {
        display: flex;
        margin: 8px 0;
        justify-content: space-between;
    }

    .delivery-de-type .type {
        text-transform: uppercase;
        color: #EB6529;
    }

    .cart-d-total {
        border-top: 1px dashed #eaeded;
        border-bottom: 1px dashed #eaeded;
        margin: 8px 0;
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
    }

    .total-title {
        font-size: 16px;
        color: #444;
        font-weight: 500;
    }

    .total-price {
        font-size: 18px;
        color: #444;
        font-weight: 600;
    }

    .save-text {
        width: 100%;
        font-size: 16px;
        color: #EB6529;
    }




    /*============ this is the  Cart page end  =============*/


    
 /*------------------- This is the start of the cart for the small device -------------*/

 .small-cart{
    width: 100%;
}
.small-cart-container{
    width: 100%;
    clear: both;
    padding-right: 20px;
    padding-left: 20px;

}

.s-cart-details{
    width: 100%;
    margin-top: 64px;
}
.s-cart-m{
    margin-bottom: 5px;
    background-color: #fff;
    padding: 0 10px;
}
.s-cart-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.s-cart-left-m{
    width: 100%;
}
.cart-m-title{
    width: 100%;
    padding: 10px 0;
}
.cart-m-title{
    color: #EB6529;
    font-weight: 400;
    font-size: 18px !important;
    font-family: 'Cairo', sans-serif;
}
.cart-m-title a{
    color: #041e42;
    font-weight: 600;
}
.cart-m-brand{
    color: #444;
}
.s-cart-prod-d{
    color:#444;
}
.s-cart-right-main{
    width: 100%;
}

.s-cart-right-img{
    width: 120px;
    height: 100px;
   text-align: center ;
}
.s-cart-right-img img{
  max-width: 100%;
  max-height: 100%;
}
.s-cart-price-quty{
    width: 100%;
}
.price-quty-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.s-cart-price-main{
  width: 100%;
}
.s-cart-price-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.s-c-price-now{
    color: #444;
    margin-right: 10px;
}
.s-cart-price-disc{
    color: #444;
    margin-right: 10px;
    text-decoration: line-through;
}
.s-price-off{
    color: #444;
}

.cart-quty-main{
    width: 100%;
}
.cart-quty-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  
}
.quty-decre{
    margin-right: 5px;
}
.quty-decre button{
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    border:none;
    background-color: #EB6529;
    font-weight: bold;
}
.quty-input{
    margin-right: 5px;
}
.quty-input input{
    width: 34px;
    text-align: center;
    padding: 5px;
    border: none;
    font-weight: bold;
    background-color: #EB6529;
    color: #fff;
}
.quty-incre button{
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    border: none;
    background-color: #EB6529;
}

.delivery{
    width: 100%;
}
.delivery-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.delivery-date{
    color:#444
}
.delivery-price{
    margin-left: 10px;
}
.d-price-text{
    color: #444;
    font-weight: 600;
    text-transform: capitalize;
}
.d-price{
    text-decoration-line: line-through;
    text-decoration-style: solid;
    color: #444;
}

.s-cart-btn-t{
    width: 100%;
    border-top: 1px solid #444;
    margin-top: 10px;
}
.s-cart-btn-main{
    width: 100%;
}
.s-cart-btn-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}
.save-btn{
    width: 50%;
    text-align: center;
    border-right: 1px solid #444;
}
.save-btn .save{
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    font-family: cairo;
    font-weight: 600;
}
.remove-btn{
    width: 50%;
    text-align: center;
}
.remove-btn .remove{
    background-color: transparent;
    border: none;
    font-family: cairo;
    font-weight: 600;
}

.small-place-btn{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 0px -4px 4px -2px;
    margin: 0px;
}
.cdfr{
    -webkit-box-flex: 1;
    flex: 1 1 0%;
}
.small-place-btn-row{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 10px 5px;
   position: relative;
}
.s-all-price{
    font-family: cairo;
    color: #444;
    font-size: 13px;
}
.a-price{
    font-weight: 300;
    font-size:21px;
}
.s-place-btn{
    padding: 10px;
    width: 168px;
    text-transform: capitalize;
    font-family: cairo;
    background-color: #041e42;
    color: #ffff;
    border: none;
}
.asdf{
    position: fixed;
    width: 100%;
    top: 90vh;
}
.rrtb{
    padding-right: 40px;
}

.deliver-date-d-text-r{
    color:#444;
}
.deliver-date-d{
    color:#444;
}







@media only screen and (min-width: 768px) {
    .cart-section {
        display: block;
    }
    .small-cart{
        display: none;
    }
  .deliver-date-d{
      display: none;
  }

}
@media only screen and (min-width: 1024px){
    .deliver-date-d-r{
        display: none;
    }
    .deliver-date-d{
        display: block;
    }
}
@media only screen and (max-width: 768px) {
.cart-section {
    display: none;
}
.small-cart{
    display: block;
}
}

@media only screen and (max-width: 400px){
    .s-place-btn{
        width: 115px;
    }
}
@media only screen and (max-width: 400px){

}