{% extends 'app/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/fontend.css' %}">
<link rel="stylesheet" href="{% static 'app/css/addAddress.css' %}">
{% endblock css %}


{% block body %}
<!-- manage account for pc -->
<div class="add-address-section">
    <div class="add-address-container">
        <div class="add-address-main">
            <div class="add-address-row">
                {% include 'app/aLeftSection.html' %}
                <div class="add-address-form">
                    <div class="add-address-form-main">
                        <div class="phone-address-title">
                            <div class="phone-address-title-icons">
                                <a href="/templates/app/manageAccount.html">
                                    <i class="fa fa-arrow-left"></i>
                                </a>
                            </div>
                            <div class="phone-address-title-text">
                                <h1>Add new Address</h1>
                            </div>
                        </div>
                        <div class="add-address-from-title">
                            <h1>Add new address</h1>
                        </div>
                        <div class="add-address-from-container">
                            <form action="">
                                <div class="address-form">
                                    <div class="address-form-row">
                                        <div class="address-form-left">
                                            <div class="form-left">
                                                <div class="form-input-field">
                                                    <label for="">Full name</label>
                                                    <input type="text" class="input-field"
                                                        placeholder="Enter your full name Example : 'Bahadur mia' ">
                                                </div>
                                            </div>
                                            <div class="form-input-field">
                                                <label for="">phone number</label>
                                                <input type="text" class="input-field" placeholder="Enter your Number">
                                            </div>
                                        </div>
                                        <div class="address-form-right">
                                            <div class="form-right">
                                                <div class="form-input-field">
                                                    <label for="">Division</label>
                                                    <select onchange="getdivision(this)" class="input-field" name="divisions" id="division">
                                                        <option> -------- </option>
                                                        {% for division in divisions %}
                                                        <option value="{{division.name}}">{{division.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-input-field">
                                                    <label for="">District</label>
                                                    <select onchange="getDistrictName()" onclick="districtsFilter()" disabled class="input-field" name="districts" id="districts" >
                                                        <option id = 'opremove' >--------</option>
                                                        {% for district in districts %}
                                                        <option class="districts"  divid = "{{district.division_id}}" value="{{district.name}}">{{district.name}}</option>
                                                        
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-input-field">
                                                    <label for="">Upazila</label>
                                                    <select onchange="getUpazilaName()"  onclick="upazilaFilter()" id = "upazilas" disabled class="input-field" name="upazilas">
                                                        <option id="opremove2"> -------- </option>
                                                        {% for upazila in upazilas %}
                                                        <option district_id = "{{upazila.district_id}}" class = 'upazilas' value="{{upazila.name}}">{{upazila.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div  class="form-input-field">
                                                    <label for="">Union</label>
                                                    <select onclick="unionFilter()" disabled class="input-field" name="division" id="division">
                                                        <option> -------- </option>
                                                        {% for union in unions %}
                                                        <option value="{{union.name}}">{{union.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-input-field">
                                                    <label for="">Address</label>
                                                    <input type="text" class="input-field"
                                                        placeholder="For Example: House #123, street #123, ABC Road">
                                                </div>

                                                <div class="address-form-btn">
                                                    <a href="/templates/app/addressBook.html"
                                                        class="cancel-btn">cancel</a>
                                                    <a class="address-save-btn">save</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'app/js/productPage.js' %}"></script>
<script src="{% static 'app/js/addaddress.js' %}"></script>
<script src = "{% static 'app/js/jquery.js' %}"></script>
{% endblock js %}