{% extends 'app/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'app/css/fontend.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/addAddress.css' %}" />
{% endblock css %} {% block body %}
<!-- manage account for pc -->
<div class="add-address-section">
  <div class="add-address-container">
    <div class="add-address-main">
      <div class="add-address-row">
        {% include 'app/aLeftSection.html' %}
        <div class="add-address-form">
          <div class="add-address-form-main">
            <div class="phone-address-title">
              <div class="phone-address-title-icons">
                <a href="/templates/app/manageAccount.html">
                  <i class="fa fa-arrow-left"></i>
                </a>
              </div>
              <div class="phone-address-title-text">
                <h1>Add new Address</h1>
              </div>
            </div>
            <div class="add-address-from-title">
              <h1>Add new address</h1>
            </div>
            <div class="add-address-from-container">
              <form action="" method="post">
                  {% csrf_token %}
                <div class="address-form">
                  <div class="address-form-row">
                    <div class="address-form-left">
                      <div class="form-left">
                        <div class="form-input-field">
                          <label for="">Full name</label>
                          <span style="font-size: 10px; color: red;">{{nameerror}}</span>
                          <input
                            name = 'fullName'
                            type="text"
                            class="input-field errelm"
                            placeholder="Enter your full name Example : 'Bahadur mia' "
                            {% if newaddress %}
                            value = "{{newaddress.full_name}}"
                            {% else %}
                            value="{{fullName}}"
                            {% endif %}
                            
                          />
                        </div>
                      </div>
                      <div class="form-input-field">
                        <label for="">phone number</label>
                        <span style="font-size: 10px; color: red;">{{phoneerror}}</span>
                        <input
                          name = "phoneNumber"
                          type="text"
                          class="input-field errelm"
                          placeholder="Enter your Number"
                          {% if newaddress %}
                          value = {{newaddress.phone_number}}
                          {% else %}
                          value="{{phoneNumber}}"
                          {% endif %}
                        />
                      </div>
                    </div>
                    <div class="address-form-right">
                      <div class="form-right">
                        <div class="form-input-field">
                          <label for="">Division</label>
                          <span style="font-size: 10px; color: red;">{{diverror}}</span>
                          <select
                            
                            onclick="districtsFilter()"
                            class="input-field errelm2"
                            name="divisionId"
                            id="divisions"
                         
                          > 
                          {% if newaddress %}
                          <option value =  "{{newaddress.divisions.id}}" >{{newaddress.divisions}}</option>
                          {% else %}
                          {% if divisionId %}
                          <option value="{{divisionId}}">{{divisionName}}</option>                             
                          {% endif %}
                          {% endif %}
                            <option id="defaultOption1" value = "default">
                              select the division
                            </option>
                            {% for division in divisions %}
                            <option value="{{division.id}}">
                              {{division.name}}
                            </option>

                            {% endfor %}
                          </select>
                        </div>
                        <!-- for giving the data to the fontend -->
                        <div id = "dataGiver" 
                        {% if newaddress %} 

                        districtId = "{{newaddress.districts.id}}" districtName = "{{newaddress.districts.name}}" upazilaId = "{{newaddress.upazilas.id}}" upazilaName = "{{newaddress.upazilas.name}}" unionId = "{{newaddress.unions.id}}" unionName = "{{newaddress.unions.name}}"

                        {% else %} 

                        districtId = "{{districtId}}" districtName = "{{districtName}}" upazilaId = "{{upazilaId}}" upazilaName = "{{upazilaName}}" unionId = "{{unionId}}" unionName = "{{unionName}}"}

                        {% endif %} 
                        ></div>
                        <!-- --- -->
                        <div id="districtDiv" class="form-input-field">
                          <label for="">District</label>
                          <span style="font-size: 10px; color: red;">{{diserror}}</span>
                          <select
                            style="display: none"
                            disabled
                            class="input-field"
                            name="districtId"
                            id="districts"
                          >
                            {% for district in districts %}
                            <option
                              class="allDistrictOptions"
                              divisionId="{{district.division_id}}"
                              value="{{district.id}}"
                            >
                              {{district.name}}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div id="upazilaDiv" class="form-input-field">
                          <label for="">Upazila</label>
                          <span style="font-size: 10px; color: red;">{{upaerror}}</span>
                          <select
                            style="display: none"
                            id="upazilas"
                            disabled
                            class="input-field"
                            name="upazilas"
                          >
                            {% for upazila in upazilas %}
                            <option
                              districtId="{{upazila.district_id}}"
                              class="AllUpazilaOptions"
                              value="{{upazila.id}}"
                            >
                              {{upazila.name}}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div id="uniondiv" class="form-input-field">
                          <label for="">Union</label>
                          <span style="font-size: 10px; color: red;">{{unionerror}}</span>
                          <select
                            style="display: none"
                            class="input-field"
                            name="union"
                            id="unions"
                          >
                            {% for union in unions %}
                            <option
                              upazilaId="{{union.upazilla_id}}"
                              class="unions"
                              value="{{union.id}}"
                            >
                              {{union.name}}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-input-field">
                          <label for="">Address</label>
                          <span style="font-size: 10px; color: red;">{{addrerror}}</span>
                          <input
                            name = "address"
                            type="text"
                            class="input-field errelm"
                            {% if newaddress %}
                            value = "{{newaddress.address}}"
                            {% else %}
                            value="{{address}}"
                            {% endif %}
                            placeholder="For Example: House #123, street #123, ABC Road"
                          />
                        </div>
                        <div class="address-form-btn">
                          <a
                            href="/templates/app/addressBook.html"
                            class="cancel-btn"
                            ><span>cancel</span> </a
                          >{% if newaddress %}
                          <input type="text" style="display: none;" name = "pk" value="{{newaddress.id}}">
                          <button type = "submit" class = "address-save-btn">update</button>
                          {% else %}
                          
                          <button type="submit" class="address-save-btn">save</button>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %} 

{% block js %}
<script src="{% static 'app/js/addaddress.js' %}"></script>
<script src="{% static 'app/js/jquery.js' %}"></script>
{% endblock js %}
