{% extends 'app/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'app/css/fontend.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/addAddress.css' %}" />
{% endblock css %} {% block body %}
<!-- manage account for pc -->
<div class="add-address-section">
  <div class="add-address-container">
    <div class="add-address-main">
      <div class="add-address-row">
        {% include 'app/aLeftSection.html' %}
        <div class="add-address-form">
          <div class="add-address-form-main">
            <div class="phone-address-title">
              <div class="phone-address-title-icons">
                <a href="/templates/app/manageAccount.html">
                  <i class="fa fa-arrow-left"></i>
                </a>
              </div>
              
              {% if newaddress %}
              <div class="phone-address-title-text">
                <h3>Update address</h3>
              </div>
              {% else %} 
              <div class="phone-address-title-text">
                <h3>Add new Address</h3>
              </div>
              {% endif %}

            </div>

            {% if newaddress %}
            <div class="add-address-from-title">
              <h3>Update address</h3>
            </div>
            {% else %}
            <div class="add-address-from-title">
              <h3>Add new address</h3>
            </div>
            {% endif %}

            <div class="add-address-from-container">
              <form action="" method="post">
                  {% csrf_token %}
                <div class="address-form">
                  <div class="address-form-row">
                    <div class="address-form-left">
                      <div class="form-left">
                        <div class="form-input-field">
                          <label for="">Full name</label>
                          <span id = "nameError" style="font-size: 10px; color: red;">{{nameerror}}</span>
                          <input
                           id = "fullName"
                            name = 'fullName'
                            type="text"
                            class="input-field "
                            placeholder="Enter your full name Example : 'Bahadur mia' "
                            {% if newaddress %}
                            value = "{{newaddress.full_name}}"
                            {% else %}
                            value="{{fullName}}"
                            {% endif %}
                            
                          />
                        </div>
                      </div>
                      <div class="form-input-field">
                        <label for="">phone number</label>
                        <span id = "phoneError" style="font-size: 10px; color: red;">{{phoneerror}}</span>
                        <input
                          id = "phoneNumber"
                          name = "phoneNumber"
                          type="text"
                          class="input-field "
                          placeholder="Enter your Number"
                          {% if newaddress %}
                          value = {{newaddress.phone_number}}
                          {% else %}
                          value="{{phoneNumber}}"
                          {% endif %}
                        />
                      </div>
                    </div>


                    <div class="address-form-right">

                      <div class="form-right">
                        
                        <div  class="form-input-field">
                          <label for="">Division</label>
                          <span id = "diverror" style="font-size: 10px; color: red;">{{diverror}}</span>

                          <select
                            class="input-field "
                            name="divisionId"
                            id="divisions"
                          > 
                             {% if newaddress %}
                          <option value =  "{{newaddress.divisions.id}}" >{{newaddress.divisions}}</option>
                          {% elif divisionId %}
                          <option value="{{divisionId}}">{{divisionName}}</option>                             
                          {% else %}
                            <option id="defaultOption1" value = "default">
                              select the division
                            </option>
                            {% endif %}
                            {% for division in divisions %} 
                            <option value="{{division.id}}">{{division.name}}</option>
                            {% endfor %}       
                          </select>
                        </div>

                        <div id="districtDiv" class="form-input-field">
                          <label for="">District</label>
                          <span id = "diserror" style="font-size: 10px; color: red;">{{diserror}}</span>
                           
                          <!-- hidden select element for sending data to the backend while not hidden select is disabled in the update address page -->
                          <select
                            class="input-field"
                            name="districtId"
                            style="display: none;"
                          >
                          {% if newaddress %}
                          <option value =  "{{newaddress.districts.id}}" >{{newaddress.districts}}</option>                          
                          {% elif districtId %} 
                          <option value="{{districtId}}">
                            {{districtName}}
                          </option>
                         {% else %}
                            <option
                              value = "default"
                            >
                            select the district
                            </option>
                             {% endif %}
                          </select>
                          <!-- hidden select element -->
                          
                          <select
                            class="input-field"
                            name="districtId"
                            id="districts"
                            disabled
                          >
                          {% if newaddress %}
                          <option value =  "{{newaddress.districts.id}}" >{{newaddress.districts}}</option>                          
                          {% elif districtId %} 
                          <option value="{{districtId}}">
                            {{districtName}}
                          </option>
                         {% else %}
                            <option
                              value = "default"
                            >
                            select the district
                            </option>
                             {% endif %}
                          </select>
                        </div>

                        <div id="upazilaDiv" class="form-input-field">
                          <label for="">Upazila</label>
                          <span id = "upaerror" style="font-size: 10px; color: red;">{{upaerror}}</span>
                         
                          <!-- hidden select element for sending data to the backend while not hidden select is disabled in the update address page -->
                          <select
                            class="input-field "
                            name="upazilaId"
                            style="display: none;"
                          >
                          {% if newaddress %} 
                          <option value =  "{{newaddress.upazilas.id}}" >{{newaddress.upazilas}}</option> 
                          {% elif upazilaId %} 
                          <option value = {{upazilaId}} >{{upazilaName}}</option>
                          {% endif %}
                            <option
                              districtId="{{upazila.district_id}}"
                              class="AllUpazilaOptions"
                              value="default"
                            >
                            select the upazila
                            </option>
                          </select>
                          <!-- hidden select element -->

                          <select
                            id="upazilas"
                            class="input-field "
                            name="upazilaId"
                            disabled
                          >
                          {% if newaddress %} 
                          <option value =  "{{newaddress.upazilas.id}}" >{{newaddress.upazilas}}</option> 
                          {% elif upazilaId %} 
                          <option value = {{upazilaId}} >{{upazilaName}}</option>
                          {% endif %}
                            <option
                              districtId="{{upazila.district_id}}"
                              class="AllUpazilaOptions"
                              value="default"
                            >
                            select the upazila
                            </option>
                          </select>
                        </div>

                        <div id="uniondiv" class="form-input-field">
                          <label for="">Union</label>
                          <span id = "unionerror" style="font-size: 10px; color: red;">{{unionerror}}</span>
                         
                          <!-- hidden select element for sending data to the backend while not hidden select is disabled in the update address page -->
                          <select
                            class="input-field "
                            name="unionId"
                            style="display: none;"
                          >
                          {% if newaddress %} 
                          <option value =  "{{newaddress.unions.id}}" >{{newaddress.unions  }}</option> 
                          {% elif unionId %} 
                          <option value = {{unionId}} >{{unionName}}</option>
                          {% endif %}
                            <option
                              upazilaId="{{union.upazilla_id}}"
                              class="unions"
                              value = "default"
                            >
                            select the union

                            </option>
                          </select>
                         <!-- hidden select element -->

                          <select
                            class="input-field "
                            name="unionId"
                            id="unions"
                            disabled
                          >
                          {% if newaddress %} 
                          <option value =  "{{newaddress.unions.id}}" >{{newaddress.unions  }}</option> 
                          {% elif unionId %} 
                          <option value = {{unionId}} >{{unionName}}</option>
                          {% endif %}
                            <option
                              upazilaId="{{union.upazilla_id}}"
                              class="unions"
                              value = "default"
                            >
                            select the union

                            </option>
                          </select>

                        </div>

                        <div class="form-input-field">
                          <label for="">Address</label>
                          <span id = "addrerror" style="font-size: 10px; color: red;">{{addrerror}}</span>
                          <input
                            id = "address"
                            name = "address"
                            type="text"
                            class="input-field "
                            {% if newaddress %}
                            value = "{{newaddress.address}}"
                            {% else %}
                            value="{{address}}"
                            {% endif %}
                            placeholder="For Example: House #123, street #123, ABC Road"
                          />
                        </div>

                        <div class="address-form-btn">
                          <a
                            href="{% url 'abookurlname' %}"
                            class="cancel-btn"
                            ><span>cancel</span> </a
                          >{% if newaddress %}
                          <input type="text" style="display: none;" name = "pk" value="{{newaddress.id}}">
                          <button id = "updateBtn" type = "submit" class = "address-save-btn">update</button>
                          {% else %}
                          
                          <button  id = "saveBtn" type="submit" class="address-save-btn">save</button>
                          {% endif %}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %} 

{% block js %}
<script src="{% static 'app/js/addaddress.js' %}"></script>
<script src="{% static 'app/js/jquery.js' %}"></script>
{% endblock js %}
