<div class="cancellation-menu-left">
    <div class="cancellation-left-content">
      <div class="account-manage">
        <div class="account-manage-main">
  
          <div class="account-m-menu">
            <ul class="acc-m">
              <li class="acc-link"><a href="{% url 'maccounturlname' %}">Account</a></li>
              <li class="acc-link"><a href="{% url 'profileurlname' %}">Profile</a></li>
              <li class="acc-link"><a href="{% url 'abookurlname' %}">Address </a></li>
              <li class="acc-link"><a href="">Payment </a></li>
              <li class="acc-link"><a href="{% url 'vchrurlname' %}">Vouchers</a></li>


              <li id = "ordersec" class="acc-link"><a href="{% url 'orderurlname' %}">Order</a></li>
              <li class="acc-link"><a href="{% url 'rorderurlname' %}">Returned Order</a></li>
              <li class="acc-link"><a href="{% url 'cancellationurlname' %}">Cancelled Order</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>


