<div class="manage-account-menu-left">
    <div class="manage-account-left-content">
      <div class="manage-left-head">
        <span>Hello,
        </span>
        <span class="left-user-name">
          bahadur mia
        </span>
      </div>
      <div class="account-manage">
        <div class="account-manage-main">
          <div class="account-manage-title">
           <a href="/templates/app/manageAccount.html">
            <h2 class="rctb">Manage my account</h2>
          </a>
          </div>
          <div class="account-m-menu">
            <ul class="acc-m">
              <li class="acc-link"><a href="{% url 'profileurlname' %}">My Profile</a></li>
              <li class="acc-link"><a href="{% url 'abookurlname' %}">Address Book</a></li>
              <li class="acc-link"><a href="">My Payment Options</a></li>
              <li class="acc-link"><a href="{% url 'vchrurlname' %}">Vouchers</a></li>
            </ul>
          </div>
          <div class="account-manage-title">
            <h2>my order</h2>
          </div>
          <div class="account-m-menu">
            <ul class="acc-m">
              <li class="acc-link"><a href="#">My Returns</a></li>
              <li class="acc-link"><a href="/templates/app/cancellation.html">My Cancellations</a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>