<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  {% block css %}
  <link rel="stylesheet" href="{% static 'app/css/fontend.css' %}">
  {% endblock css %}

  {% block extraLink %} 

  {% endblock extraLink %}
  
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Cairo font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700&family=Jost:wght@200;300;400&display=swap"
    rel="stylesheet">
  {% block internal_css %}

  {% endblock internal_css %}

</head>

<body {% block inbfol %}  {% endblock inbfol %}>

{% block header %}
  <!-- $Header Menu -->
  <div class="main_container" id="p260">
    <div class="sub_container">
      <div class="logo_and_nav_icon_container">
        <button class="nav_icon">
          <svg class="icon-svg" style="color: white;" stroke="currentColor" fill="currentColor" stroke-width="0"
            viewBox="0 0 24 24" height="2em" width="2em" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
          </svg>
        </button>
        <div class="logo_container">
          <a href="{% url 'home' %}">
            <img id = "logoimg" src="{% static 'app/image/logo.png' %}" alt="">
            
          </a>

        </div>
      </div>

      <form action="" method="get" role="search" class="search-area mobilehide">
        <button class="left-search-area-container">
          <span class="left-search-area-icon">
            <img class="left-search-area-icon-image" alt="null" aria-hidden="true" width="18" height="18"
              src="{% static 'app/image/caret-down-black.svg' %}">
          </span>
        </button>
        <input placeholder="search in neede bd..." type="text" class="search-field">
        <button class="search-icon-container">
          <span class="search-icon">
            <img alt="null" aria-hidden="true" width="18" height="18"
              src="{% static 'app/image/search-nav-black.svg' %}">
          </span>
        </button>
      </form>

      <div class="account-and-myitem-container">
        <div class="account-container">
          <button class="account-subcontainer">
            <span class="account-subcontainer2">
              <span class="account-subcontainer3">
                <span class="account-logo">                  
                  {% if request.user.is_authenticated %}            
                  <img style="border-radius:50%" alt="null" aria-hidden="true" width="24" height="24" src = "{{image}}">
                  {% endif %}
                </span>
                <span class="account-title">
                  {% if request.user.is_authenticated %} 
                   {{request.user}}
                  {% else %}
                  Account
                  {% endif %}
                </span>
              </span>
            </span>
          </button>
        </div>
        <div class="cart-container">
          <a href="{% url 'showcarturlname' %}" class="cart-subcontainer">
            <span class="cart-subcontainer2">
              <span class="cart-subcontainer3">
                <span class="cart-subcontainer4">
                  <img alt="null" aria-hidden="true" width="24" height="24"
                    src="{% static 'app/image/cart-nav-white.svg' %}">
                </span>
                <span class="">
                </span>
              </span>
            </span>
          </a>
          {% if request.user.is_authenticated %}
          <div aria-hidden="true" id = "count">{{item}}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- $Spacer Section -->
  <div class="spacer" id="w260"></div>
  <!-- $Serach Form Mobile -->
  <div class="sac desktophide mobileshow">
    <form action="" method="get" role="search" class="search-area">

      <input placeholder="Search in neede bd..." type="text" class="search-field">
      <button class="search-icon-container">
        <span class="search-icon">
          <img alt="null" aria-hidden="true" width="18" height="18"
            src="//i5.walmartimages.com/dfw/63fd9f59-43e0/1ed7036a-feba-43ca-8885-1d937a9aa4f2/v1/search-nav-black.b92f68559cf70c3bcfb9eae1d8dcca59ca58af11.svg">
        </span>
      </button>
    </form>
  </div>
  <!-- $Site Menu Bar Section -->
  <div class="end">
    <div class="click-bar-site-menu" id="t260">
      <div class="click-bar-all" id="t68">
        <div class="click-bar-site-menu-top ">
          <div class="click-bar-site-menu-top-row">
            <div class="click-bar-site-logo">
              <a href="#"> Salam, Ibrahim!
              </a>
            </div>
            <div class="site-menu-close">
              <button class="site-menu-close-btn">
                <span>
                  <img src=" {% static 'app/image/remove.svg' %}" alt="" width="38" height="24">
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="click-bar-site-menu-container">
          <div class="click-bar-site-menu-main">
            <div class="click-bar-site-menu-bottom">
              <div class="web-link">
                special deal
              </div>
              <div class="click-bar-site-menu-bottom-header">

                <!-- link-1 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="{% static 'app/image/icons.svg' %}" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title l-t">
                      track order
                    </div>
                  </div>
                </a>
                <!-- link-2 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="{% static 'app/image/incons-2.svg' %}" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title l-t">
                      Buy Again
                    </div>
                  </div>
                </a>
                <!-- link-3 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="{% static 'app/image/icons-3.svg' %}" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title l-t">
                      Lists
                    </div>
                  </div>
                </a>
                <!-- link-4 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="{% static 'app/image/icons-4.svg' %}" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title l-t">
                      needebd+
                    </div>
                  </div>
                </a>
                <!-- link-5 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="{% static 'app/image/icons-5.svg' %}" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title l-t">
                      Needebd Credit Card
                    </div>
                  </div>
                </a>
                <!-- link-6 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="{% static 'app/image/incons-2.svg' %}" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty"></div>
                    <div class="link-title ">
                      Your Location:
                    </div>
                  </div>
                </a>
                <!-- link-7 -->
                <a href="#" class="click-links">
                  <div class="click-links-row">
                    <img src="{% static 'app/image/icons.svg' %}" alt="" class="click-img" width="24" height="24">
                    <div class="link-empty last-empty">Local Store</div>
                    <div class="link-title link-right-icon">
                      <span>
                        <button class="lg-i-btn">
                          <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                        </button>
                      </span>
                    </div>
                  </div>
                </a>


              </div>
            </div>

            <!-- department -->

            <div class="click-bar-site-menu-header-department">
              <div class="department-title">
                <div class="department-title-row">
                  <div class="department-name">
                    <h2>Departments
                    </h2>
                  </div>
                  <div class="department all-link">
                    <a href="#">see all</a>
                  </div>
                </div>
              </div>

              <!-- department-menus -->

              <div class="departments-menu">
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Savings Spotlight
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Back to School
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      College & Beyond Shop
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Electronics & Office
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Clothing, Shoes & Accessories
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Home, Furniture & Appliances
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Toys, Games, and Video Games
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Home Improvement
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Movies, Music & Books
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Baby
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Patio & Garden
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Food, Household & Pets
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Pharmacy, Health & Personal Care
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Beauty
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Sports, Fitness & Outdoors
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Auto, Tires & Industrial
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Photo & Personalized Shop
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
                <!-- link-1 -->
                <button class="departments-link">
                  <span class="departments-links-row">
                    <span class="departments-name">
                      Arts, Craft, Sewing & Party Supplies
                    </span>
                    <img src="{% static 'app/image/right-icons.svg' %}" alt="" width="14" height="14">
                  </span>
                </button>
              </div>
            </div>



            <!-- bottom header -->
            <div class="click-bar-site-header-bottom-link">
              <div class="click-bar-site-title-ec">
                account
              </div>
              <!-- link-1 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="{% static 'app/image/bt-1.svg' %}" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Registry
                  </div>
                </div>
              </a>
              <!-- link-2 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="{% static 'app/image/gift-card.png' %}" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Gift finder
                  </div>
                </div>
              </a>
              <!-- link-3 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="{% static 'app/image/bt-3.svg' %}" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Needebd Service
                  </div>
                </div>
              </a>
              <!-- link-4 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="{% static 'app/image/bt-4.svg' %}" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Digital video by Vudu
                  </div>
                </div>
              </a>
              <!-- link-5 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="{% static 'app/image/bt-5.svg' %}" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Needebd credit Cards
                  </div>
                </div>
              </a>
              <!-- link-6 -->
              <a href="{% url 'vchrurlname' %}" class="click-links">
                <div class="click-links-row">
                  <img src="{% static 'app/image/bt-6.svg' %}" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Voucher
                  </div>
                </div>
              </a>
              <!-- link-7 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="{% static 'app/image/bt-7.svg' %}" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Weekly Ad
                  </div>
                </div>
              </a>
              <!-- link-8 -->
              <a href="#" class="click-links">
                <div class="click-links-row">
                  <img src="{% static 'app/image/bt-8.svg' %}" alt="" class="click-img" width="18" height="18">
                  <div class="link-empty"></div>
                  <div class="link-title l-t">
                    Help
                  </div>
                </div>
              </a>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Account Menu Bar -->
  <div class="account-dropdown-main" id="main-dorpdown">
    <div class="account-dropdown">
      <div class="account-dropdown-content" id="act2">
        <div class="account-dropdown-top">
          <div class="account-left">
            <div class="account-row">
              <div class="account-img">
                <img  src="{{image}}" alt="" width="24" height="40">
              </div>
              <div class="account-title act">
                {% if request.user.is_authenticated %}
                <h2>{{request.user}}</h2>
                {% else %} 
               <h2>Account</h2>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="account-right">
            <div class="close-section">
              <button class="close-account-btn">
                <img src="{% static 'app/image/remove-black.svg' %}" alt="" width="24" height="24">

              </button>
            </div>
          </div>
        </div>
        <div class="all-elements-link">
          {% if request.user.is_authenticated %}
          <a href="{% url 'maccounturlname' %}" class="elements">
            <div class="elements-row">
              <div class="elements-image">
                <img src="{% static 'app/image/sign-in-black.svg' %}" alt="" width="18" height="18">
              </div>
              <div class="elements-name">
                Account
              </div>
            </div>
          </a>
          {% endif %}

          {% if not request.user.is_authenticated %}
          <a href="{% url 'login' %}" class="elements">
            <div class="elements-row">
              <div class="elements-image">
                <img src="{% static 'app/image/sign-in-black.svg' %}" alt="" width="18" height="18">
              </div>
              <div class="elements-name">
                Sign in
              </div>
            </div>
          </a>
          {% endif %}


          <a href="#" class="elements">
            <div class="elements-row">
              <div class="elements-image">
                <img src="{% static 'app/image/package-black.svg' %}" alt="" width="18" height="18">
              </div>
              <div class="elements-name">
                Track orders
              </div>
            </div>
          </a>

          <a href="#" class="elements">
            <div class="elements-row">
              <div class="elements-image">
                <img src="{% static 'app/image/help-black.svg' %}" alt="" width="18" height="18">
              </div>
              <div class="elements-name">
                help
              </div>
            </div>
          </a>

          {% if request.user.is_authenticated %}
          <a href="{% url 'changepass' %}" class="elements">
            <div class="elements-row">
              <div class="elements-image">
                <img src="{% static 'app/image/sign-in-black.svg' %}" alt="" width="18" height="18">
              </div>
              <div class="elements-name">
                Change Password
              </div>
            </div>
          </a>
          {% endif %}

          {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}" class="elements">
            <div class="elements-row">
              <div class="elements-image">
                <img src="{% static 'app/image/sign-in-black.svg' %}" alt="" width="18" height="18">
              </div>
              <div class="elements-name">
                Log out
              </div>
            </div>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock header %}


  {% block UpperCategoryDesktop %}

  {% endblock UpperCategoryDesktop %}
  {% block slider %}

  {% endblock slider %}
  {% block UpperCategoryMobile %}

  {% endblock UpperCategoryMobile %}
  {% block shopwithdeal %}

  {% endblock shopwithdeal %}
  {% block body %}

  {% endblock body %}
  {% block brand %}

  {% endblock brand %}


{% block footer %}
<!-- $Footer Section -->
<div class="footer-section ">
  <div class="footer-main" style="background-color: #041E42;">
    <div class="footer-top-row">
      <!-- about -->
      <div class="about footer-cl">
        <ul class="all-link">
          {% for footer_colum in footer_colum_1  %}
          <li><a href="#">{{footer_colum.content}}</a></li>
          {% endfor %}         
        </ul>
      </div>
      <!-- Help -->
      <div class="about footer-cl mobilehide400">

        <ul class="all-link">
          {% for footer_colum in footer_colum_2  %}
          <li><a href="#">{{footer_colum.content}}</a></li>
          {% endfor %}  
        </ul>
      </div>

      <!-- SOCIAL -->


      <!-- Policy -->
      <div class="about footer-cl">

        <ul class="all-link">
          {% for footer_colum in footer_colum_3  %}
          <li><a href="#">{{footer_colum.content}}</a></li>
          {% endfor %}  
        </ul>
      </div>

      <!-- mail us -->
      <div class="about footer-cl mail adress mobilehide654">

        <ul class="all-link">
          {% for footer_colum in footer_colum_4  %}
          <li><a href="#">{{footer_colum.content}}</a></li>
          {% endfor %}  
        </ul>
      </div>

      <!-- mail us -->

    </div>

    <div class="about footer-cl mail adress mobilehide654m desktophide">

      <ul class="all-link ulp30">
        {% for footer_colum in footer_colum_4  %}
          <li><a href="#">{{footer_colum.content}}</a></li>
          {% endfor %}  

      </ul>
    </div>
    <div class="hr"></div>
    <!-- footer bottom -->
    <div class="footer-bottom">

      <div>
        <a href="#">
          <img src="/static/app/image/payment-method.svg" alt="">

        </a>
      </div>
    </div>
  </div>
</div>
{% endblock footer %}

{% block internaljs %}

{% endblock internaljs %}

  {% block js %}
  <!-- Custome js-->
  <script src="{% static 'app/js/fontend.js' %}"></script>
  <script src = "{% static 'app/js/singleproduct.js' %}"></script>
  {% endblock js %}
</body>

</html>