{% extends 'app/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'app/css/buynowcheckout.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/fontend.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/adressBook.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/checkout.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/cart.css' %}" />

{% endblock %}

{% block extraLink %}
<script src="https://kit.fontawesome.com/9bc804fb98.js" crossorigin="anonymous"></script>
{% endblock extraLink %}

{% block body %}
<!-- check out page for pc -->
<div class="check-out-main">
  <div class="check-out-container">
    <div class="check-out-section">
      <div class="check-out-row">
        <div id="buyNowLeft" class="check-out-left">
          <div class="checkout-header">
            <div class="checkout-header-row">
              <div class="checkout-items">
                <span>Items: 1 </span>
              </div>
              <div class="checkout-price">
                <span>Price</span>
              </div>
              <div class="checkout-quantity">
                <span>Quantity</span>
              </div>
            </div>
          </div>

          <!-- product-start -->
          <div class="check-out-left-container">
            <div class="checkout-content-section">
              <div class="checkout-package">
                <div class="package-left">
                  <span>package 1 of 1</span>
                </div>
              </div>
              <div class="checkout-content">
                <div class="checkout-head">
                  <span>{{product.title}}</span>
                </div>

                <div class="checkout-items-r">
                  <div class="checkout-items-row">
                    <div class="ck-product">
                      <div class="ck-product-details">
                        <div class="ck-product-img">
                          {% if buyNowUnitAmount > pav.productStock %}
                          <div class="stockWarning" id="stockWarning">StockOut</div>
                          {% elif buyNowUnitAmount > product.MaximumUnitValue %}
                          <div class="stockWarning" id="stockWarning">MaxAmount</div>
                          {% else %}
                          <div class="stockWarning" id="stockWarning"></div>
                          {% endif %}
                          <img src="{{product.product_image.url}}" alt="" />

                        </div>
                        <div class="ck-product-title">
                          <div class="ck-title">
                            {% if product.ProductType.typeName  == "SolidWeight" or product.ProductType.typeName  == "LiquidWeight" %} 
                            Amount : <span id = "buyNowAmount"><span id = "buyNowUnitAmount2">{{buyNowUnitAmount}} </span>{{product.productattributevalue_set.first.attributeValue}}</span> 
                            {% endif %}
                          </div>
                          <div class="ck-details">
                            <span class="brand-name">audi brand</span>
                            <br>
                            {% if product.ProductType.typeName == "Cloth" or product.ProductTypeName == "Shoe" %}
                            {% if pav.attributeValue %}
                            <span class="ck-size-text">size: {{pav.attributeValue}}</span>
                            {% endif %} {% if cart.color %}
                            <span class="ck-color-text">Color:{{cart.color}}</span>
                            {% endif %}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    {% if product.ProductType.typeName  == "SolidWeight" or product.ProductType.typeName  == "LiquidWeight" %}                   
                    <div class="checkout-middle">
                      <div class="ck-product-price">
                        <span>৳{{Unit_SellingCost}}/{{product.productattributevalue_set.first.attributeValue}}</span>
                      </div>

                      <div class="ck-free-percent">
                        <span>-{{product.discount}}%</span>
                      </div>

                      <div class="ck-product-main-price">
                        <span>৳ {{Unit_DiscountedCost}}/{{product.productattributevalue_set.first.attributeValue}}</span>
                      </div>

                    </div>
                    {% else %}
                    <div class="checkout-middle">
                      <div class="ck-product-price">
                        <span>{{product.selling_prize}}</span>
                      </div>

                      <div class="ck-free-percent">
                        <span>-{{product.discount}}%</span>
                      </div>

                      <div class="ck-product-main-price">
                        <span>৳ {{product.discounted_prize}}</span>
                      </div>

                    </div>
                    {% endif %}


                    {% if product.ProductType.typeName  == "SolidWeight" or product.ProductType.typeName  == "LiquidWeight" %}
                    
                    <div class="ck-checkout-right">
                      <div>
                        <span style="text-decoration: line-through">Total cost: ৳<span id="sellPrizeElm"
                            sellingPrize="{{product.selling_prize}}">{{Total_SellingCost}}</span></span>
                      </div>
                      <div>Total cost: ৳<span id="discountedPrizeElm"
                          discountedPrize="{{product.discounted_prize}}">{{Total_DiscountedCost}}</span> </div>
                    </div>

                    {% else %}
                    <div class="ck-checkout-right">
                      <div class="ck-qun">
                        <span class="qun-text">Qty: <span id="quantityRight"> 1 </span> </span>
                      </div>
                      <div>
                        <span style="text-decoration: line-through"> <span class="cost">cost:</span> <span id="sellPrizeElm"
                            sellingPrize="{{product.selling_prize}}">{{product.selling_prize}}</span></span>
                      </div>
                      <div><span class="cost">cost:</span><span id="discountedPrizeElm"
                          discountedPrize="{{product.discounted_prize}}">{{product.discounted_prize}}</span> </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="add-to-cart-d-btn">
                  {% if product.ProductType.typeName  == "SolidWeight" or product.ProductType.typeName  == "LiquidWeight" %} 

                  <div class="cart-d-p-btn">
                    <button style="margin-right: 40px;" id="minusBtn" onclick="buyNow('minus')" ProductGroup={{product.ProductType.typeName }} prod={{product.id}} class="btn-sub"> -
                    </button>

                    <button id ="plusButton" maxAmount = {{product.MaximumUnitValue}} productStock = {{pav.productStock}} onclick="buyNow('plus')" prod={{product.id}} class="btn-add"> + </button>

                  </div>

                  {% else %}
                  <div class="cart-d-p-btn">
                    <button id="minusBtn" onclick="buyNow('minus')" ProductGroup={{product.ProductType.typeName }} prod={{product.id}} class="btn-sub"> -
                    </button>
                    
                    <div class="cart-d-input">

                      <input id="quantityValue" type="text" class="cart-d-rp" value="1">

                    </div>

                    <button id ="plusButton" maxAmount = {{product.MaximumUnitValue}} productStock = {{pav.productStock}} onclick="buyNow('plus')" prod={{product.id}} class="btn-add"> + </button>

                  </div>
                  {% endif %}

                  <div class="cart-save-remove">
                    <div prod_id={{cart.product.id}} size={{cart.size}} unit={{cart.unit}}
                      unit_amount={{cart.unit_amount}} onclick="buyNow('remove')" class="cart-d-remove"> remove </div>
                  </div>
                </div>
              </div>
              <div style="margin: 0;" class="checkout-package ">

              </div>
            </div>
          </div>
          <!-- product-end -->
        </div>
        <div class="check-out-right">
          <div class="check-out-posi">
            <div class="check-out-right-main">
              <div class="ck-pay-btn">
                <button id="ptp" class="pay-btn">Select your address</button>
              </div>

              <!-- Editing Area -->
              <div id="editDiv">
                <div class="check-out-right-title">
                  <h1 class="ck-r-t">Shipping & Billing</h1>
                </div>
                <div class="ck-profile">
                  <div class="ck-profile-text">
                    <span class="ck-icn"><i class="fa fa-map-marker-alt"></i></span>
                    <span id="shAdrName" class="ck-profile-name">
                      {{daddress.full_name}}
                    </span>
                  </div>
                  <div class="ck-profile-edit">
                    <a href="#" id="adredit" class="ck-edit">Edit</a>
                  </div>
                </div>
                <div class="ck-all-address">
                  <span id="adrWithLocations" class="ck-address">{{daddress.address}}, {{daddress.unions}},
                    {{daddress.upazilas}}, {{daddress.districts}},
                    {{daddress.divisions}}</span>
                </div>

                <div class="email-address">
                  <div class="email-address-tex">
                    <span class="email-icons">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <span class="email-text">{{profile.email}}</span>
                  </div>
                </div>

                <div class="phone-address">
                  <div class="phone-address-tex">
                    <span class="phone-icons">
                      <i class="fa fa-phone"></i>
                    </span>
                    <span class="phone-text">{{profile.phone_number}}</span>
                  </div>
                </div>
              </div>
              <!-- Editing Area -->

              <!--hidden address changer.. -->
              <div id="adrDiv" style="display: none" class="address-book">
                <div style="
                    min-height: auto;
                    padding-top: 10px;
                    max-height: 212px;
                    overflow: auto;
                    padding: 0;
                  " class="address-book-table scroll">
                  <div class="next-table">
                    <div class="next-table-inner">
                      <div class="next-table-body">
                        <table style="font-size: 13px">
                          {% for address in newaddress %}
                          <tbody>
                            <tr class="next-table-row">
                              <td class="next-table-cell">
                                <div style="
                                    text-align: left;
                                    padding: 0px !important;
                                  " class="next-table-cell-wrapper">
                                  {{address.full_name}}
                                </div>
                              </td>
                              <td class="next-table-cell">
                                <div style="
                                    text-align: left;
                                    padding: 0px !important;
                                  " class="next-table-cell-wrapper">
                                  {{address.address}}
                                </div>
                              </td>
                              <td style="width: 10%" class="next-table-cell">
                                <div class="next-table-cell-wrapper">
                                  {% if address.isDefault == True %}
                                  <i style="color: #eb6529" id="checked" class="fas fa-check-circle"></i>
                                  <input style="display: none" name="isDefaultName" CAddressId="{{address.id}}"
                                    type="radio" class="isDefaultClass cHK" value="{{address.isDefault}}" />
                                  {% else %}

                                  <input id="circlebox" name="isDefaultName" CAddressId="{{address.id}}" type="radio"
                                    class="isDefaultClass cHK" value="{{address.isDefault}}" />
                                  {% endif %}
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          {% endfor %}
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--hidden address changer.. -->

              <div class="order-summery">
                <div class="os-title">
                  <h1>Order Summary</h1>
                </div>
                <div class="os-total-section">
                  <div class="os-total-text">
                    <div class="os-total">
                      Subtotal <span class="tottal">(1 items)</span>
                    </div>
                  </div>
                  <div class="os-tatal-con">
                    ৳ <span id="subtotal"> {{subtotal}}</span>
                  </div>
                </div>
                {% if discount %}
                <div class="os-shipping">
                  <div class="os-sipping-text">
                    <span>Coupon or voucher</span>
                  </div>
                  <div class="shipping-money">
                    <span> ৳ - {{discount}}</span>
                  </div>
                </div>
                {% endif %}
                <div class="os-shipping">
                  <div class="os-sipping-text">
                    <span>Shipping fee</span>
                  </div>
                  <div class="shipping-money">
                    <span> ৳ {{shippingCost}}</span>
                  </div>
                </div>
                <div class="total-section">
                  <div class="total-text">
                    <span id="buyNowOrderSummeryTotal">Total:</span>
                  </div>
                  <div class="total-amount">
                    ৳ <span class="amount" id="buyNowTotal"> {{total}}</span>
                  </div>
                </div>

                <div id="hiddenCouponInfo" style="display: none;">
                  <div class="total-section">

                    <div class="total-text">
                      <span id="buyNowOrderSummeryTotal">Discount:</span>
                    </div>
                    <div class="total-amount">
                      -৳ <span class="amount" id="hiddenDiscount"> </span>
                    </div>

                  </div>

                  <div class="total-section">

                    <div class="total-text">
                      <span id="buyNowOrderSummeryTotal">New Total:</span>
                    </div>
                    <div class="total-amount">
                      ৳ <span class="amount" id="hiddenNewTotal"> </span>
                    </div>

                  </div>
                </div>

                <div id='couponApply' style="display: none;" class="card ">
                  <div class="card-body">

                    <div id="titleCont">
                      <div id="title"><small class="text-muted">Apply your coupon here</small></div>
                      <div id="cancelIcon"><i class="far fa-times-circle"></i></div>
                    </div>
                    <span id="coupon_selector" style="color:red"></span>
                    <input class="form-control" style="color:gray" type="text" name="code" id="code">
                    <div class="buttons">
                      <button class="coupon btn btn-sm btn-outline-primary mt-3" id="apply">Apply</button>
                    </div>

                  </div>
                </div>
                <span id="hacoupon">have any coupon or voucher?</span>
                <div class="ck-pay-btn">
                  <a href="{% url 'paymentpageurlname' 'buyNowTunnel' %}">
                    <button id="PTPBtn" {% if buyNowUnitAmount > pav.productStock or buyNowUnitAmount > product.MaximumUnitValue %} disabled  style = "cursor:not-allowed;" {% endif %} class="pay-btn">Proceed to pay</button>
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="phone-checkout-btn-section">
  <div class="phone-checkout-btn-container">
    <div class="phone-checkout-btn-row">
      <div class="phn-checkout-btn-total">
        <div class="pcb-total">
          <span class="pcb-total-text">Total:</span>
          ৳ <span id="buyNowTotalM" class="pcb-total-amaount">{{total}}</span>
        </div>
        <div class="phone-vat">
          <span class="vat-text"> VAT included,where applicable </span>
        </div>
      </div>
      <div class="phone-checkout-btn">
        <a href="{% url 'paymentpageurlname' 'buyNowTunnel' %}" class="ph-btn">Proceed to pay</a>
      </div>
    </div>
  </div>
</div>
<div style="height: 62px;"></div>

{% endblock body %}

{% block js %}
<script src="{% static 'app/js/jquery.js' %}"></script>
<script src="{% static 'app/js/BNCheckout.js' %}"></script>
{% endblock js %}