{% extends 'app/base.html' %}
{% load static %}
{% block css %} 
 <link rel="stylesheet" href="{% static 'app/css/fontend.css' %}">
 <link rel="stylesheet" href="{% static 'app/css/cancellation.css' %}">
{% endblock css %}
{% block body %}
    <!-- manage account for pc -->
    <div class="cancellation-section">
        <div class="cancellation-container">
            <div class="cancellation-main">
                <div class="cancellation-row">
                   {% include 'app/aLeftSection.html' %}

                    <div class="cancellation-right-section">
                        <div class="cancellation-right-main">
                            <div class="phone-cancellation-title">
                                <div class="cancellation-title-icons">
                                    <a href="/templates/app/manageAccount.html"><i class="fa fa-arrow-left"></i></a>
                                </div>
                                <div class="phone-cancellation-title-text">
                                    <h1>cancellation</h1>
                                </div>
                            </div>
                            <div class="cancellation-right-title">
                                <h1 class="crt">My Cancellations</h1>
                            </div>
                            <div class="cancellation-container">
                                <div class="cancellation">

                                    <!-- list-start -->
                                    <div class="cancellation-list">
                                        <div class="order">
                                            <div class="order-info">
                                                <div class="order-info-row">
                                                   <div class="order-info-left">
                                                    <div class="order-create">
                                                        <span class="oc">Requested on</span>
                                                        <span class="order-date">
                                                            12 Sep 2021
                                                        </span>
                                                    </div>
                                                    <div class="order-number">
                                                        <span class="on">#2345987493274</span>
                                                    </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="order-item">
                                            <div class="order-item-row">
                                                <div class="order-image">
                                                    <div class="image-set">
                                                        <img src="/static/app/image/product-1.webp" alt="">

                                                    </div>
                                                </div>
                                                <div class="order-product-title">
                                                       <span class="op-title">
                                                        3 Pcs Drain Hair Wig Removal Clog Tools Bathroom Hair Sewer Outlet Kitchen Sink Anti Clogging Floor Toilet Cleaner Filter
                                                       </span>
                                                </div>
                                                <div class="order-qu">
                                                    <span>Qty:</span>
                                                    <span class="qu">
                                                        1
                                                    </span>
                                                </div>
                                                <div class="order-status">
                                                    <span class="os">Cancelled</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- list-end -->
                                    

                                     <!-- list-start -->
                                     <div class="cancellation-list">
                                        <div class="order">
                                            <div class="order-info">
                                                <div class="order-info-row">
                                                   <div class="order-info-left">
                                                    <div class="order-create">
                                                        <span class="oc">Requested on</span>
                                                        <span class="order-date">
                                                            12 Sep 2021
                                                        </span>
                                                    </div>
                                                    <div class="order-number">
                                                        <span class="on">#2345987493274</span>
                                                    </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="order-item">
                                            <div class="order-item-row">
                                                <div class="order-image">
                                                    <div class="image-set">
                                                        <img src="/static/app/image/product-1.webp" alt="">

                                                    </div>
                                                </div>
                                                <div class="order-product-title">
                                                       <span class="op-title">
                                                        3 Pcs Drain Hair Wig Removal Clog Tools Bathroom Hair Sewer Outlet Kitchen Sink Anti Clogging Floor Toilet Cleaner Filter
                                                       </span>
                                                </div>
                                                <div class="order-qu">
                                                    <span>Qty:</span>
                                                    <span class="qu">
                                                        1
                                                    </span>
                                                </div>
                                                <div class="order-status">
                                                    <span class="os">Cancelled</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- list-end -->
                                    
                                     <!-- list-start -->
                                     <div class="cancellation-list">
                                        <div class="order">
                                            <div class="order-info">
                                                <div class="order-info-row">
                                                   <div class="order-info-left">
                                                    <div class="order-create">
                                                        <span class="oc">Requested on</span>
                                                        <span class="order-date">
                                                            12 Sep 2021
                                                        </span>
                                                    </div>
                                                    <div class="order-number">
                                                        <span class="on">#2345987493274</span>
                                                    </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="order-item">
                                            <div class="order-item-row">
                                                <div class="order-image">
                                                    <div class="image-set">
                                                        <img src="/static/app/image/product-1.webp" alt="">

                                                    </div>
                                                </div>
                                                <div class="order-product-title">
                                                       <span class="op-title">
                                                        3 Pcs Drain Hair Wig Removal Clog Tools Bathroom Hair Sewer Outlet Kitchen Sink Anti Clogging Floor Toilet Cleaner Filter
                                                       </span>
                                                </div>
                                                <div class="order-qu">
                                                    <span>Qty:</span>
                                                    <span class="qu">
                                                        1
                                                    </span>
                                                </div>
                                                <div class="order-status">
                                                    <span class="os">Cancelled</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- list-end -->
                                    
                                     <!-- list-start -->
                                     <div class="cancellation-list">
                                        <div class="order">
                                            <div class="order-info">
                                                <div class="order-info-row">
                                                   <div class="order-info-left">
                                                    <div class="order-create">
                                                        <span class="oc">Requested on</span>
                                                        <span class="order-date">
                                                            12 Sep 2021
                                                        </span>
                                                    </div>
                                                    <div class="order-number">
                                                        <span class="on">#2345987493274</span>
                                                    </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="order-item">
                                            <div class="order-item-row">
                                                <div class="order-image">
                                                    <div class="image-set">
                                                        <img src="/static/app/image/product-1.webp" alt="">

                                                    </div>
                                                </div>
                                                <div class="order-product-title">
                                                       <span class="op-title">
                                                        3 Pcs Drain Hair Wig Removal Clog Tools Bathroom Hair Sewer Outlet Kitchen Sink Anti Clogging Floor Toilet Cleaner Filter
                                                       </span>
                                                </div>
                                                <div class="order-qu">
                                                    <span>Qty:</span>
                                                    <span class="qu">
                                                        1
                                                    </span>
                                                </div>
                                                <div class="order-status">
                                                    <span class="os">Cancelled</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- list-end -->
                                    
                                     <!-- list-start -->
                                     <div class="cancellation-list">
                                        <div class="order">
                                            <div class="order-info">
                                                <div class="order-info-row">
                                                   <div class="order-info-left">
                                                    <div class="order-create">
                                                        <span class="oc">Requested on</span>
                                                        <span class="order-date">
                                                            12 Sep 2021
                                                        </span>
                                                    </div>
                                                    <div class="order-number">
                                                        <span class="on">#2345987493274</span>
                                                    </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="order-item">
                                            <div class="order-item-row">
                                                <div class="order-image">
                                                    <div class="image-set">
                                                        <img src="/static/app/image/product-1.webp" alt="">

                                                    </div>
                                                </div>
                                                <div class="order-product-title">
                                                       <span class="op-title">
                                                        3 Pcs Drain Hair Wig Removal Clog Tools Bathroom Hair Sewer Outlet Kitchen Sink Anti Clogging Floor Toilet Cleaner Filter
                                                       </span>
                                                </div>
                                                <div class="order-qu">
                                                    <span>Qty:</span>
                                                    <span class="qu">
                                                        1
                                                    </span>
                                                </div>
                                                <div class="order-status">
                                                    <span class="os">Cancelled</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- list-end -->
                                    



                                </div>
                                
                            </div>
                        </div>
                    </div>


                </div>



            </div>

        </div>
    </div>
{% endblock body %}  
