{% extends 'app/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="/static/app/css/fontend.css">
<link rel="stylesheet" href="/static/app/css/cart.css">
{% endblock css %}

{% block body %}
<!------------This is the start of the cart section----->
<div class="cart-section">
  <div class="cart-section-main">
    <div class="add-cart-row">
      <div class="add-cart-left">
        <div class="add-cart-left-main">
          <div class="add-cart-left-content">
            <div class="add-cart-left-top">
              <div class="add-cart-left-top-title">
                <div class="top-title-1">
                  <h2>my cart</h2>
                </div>
              </div>
              <div class="div"></div>
              <div class="add-cart-content-right">
                <div class="right-content-details">
                  <div class="right-content-details-row">
                    <div class="add-cart-left-top-deliver">
                      <div class="deliver-img">
                        <img src="/static/app/image/location.svg" alt="">
                      </div>
                      <div class="deliver-name">
                        <span>Deliver to</span>
                      </div>
                    </div>
                    <div class="add-cart-deliver-input">
                      <input type="text" placeholder="Enter the deliver pin code" maxlength="6" autocomplete="off">
                      <span class="rtpr">Check</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% for cart in carts %}
            <!-- start cart section -->
            <div class="add-to-cart-d">
              <div class="add-cart-d-con">
                <div class="add-cart-d-con-re">
                  
                  <div class="cart-d-image">
                    <!-- <span class="stockWarning" id="stockWarning{{forloop.counter}}"></span> -->
                    {% if cart.quantity > cart.product.ProductStock %}
                  <span class="stockWarning" id="stockWarning{{forloop.counter}}">Stock Out</span>
                  {% else %}
                  <span class="stockWarning" id="stockWarning{{forloop.counter}}"></span>
                  {% endif %}
                    <img src="{{cart.product.product_image.url}}" alt="">
                  </div>

                  <div class="add-cart-pro-de">
                    <div class="add-card-pro-de-main">
                      <div class="pro-de-title">
                        <a href="#">
                          asics GEL-WINDHAWK 3 Running Shoes For Men
                        </a>
                      </div>

                      <div class="pro-de-size">
                        <!-- Filtering the product's extra unit info according to the product's unit -->
                        {% if cart.product.ProductGroup == "Cloth" or cart.product.ProductGroup == "Shoe"  %}
                        <span>size:{{cart.size}}</span>
                        {% endif %}
                        {% if cart.product.ProductGroup == "ClothPices" or cart.product.ProductGroup == "LiquidWeight" or cart.product.ProductGroup == "SolidWeight" %}
                        <span>Amount : <span id ="uamount{{forloop.counter}}" >{{cart.unit_amount}}</span>{{cart.unit}}</span>
                        {% endif %}

                        {% if cart.product.ProductGroup == "Packet" %}
                        <span>Amount : Single Item</span>
                        {% endif %}
                      </div>


                      <div class="pro-de-size">

                      </div>

                      <div class="pro-de-brand">
                        <span>adidas</span>
                      </div>
                      <span class="tk-per">{{cart.product.discount}}% Off</span> <br>
                      <div class="pro-de-size">
                        <span class="tk">৳ {{cart.product.selling_prize}}</span>

                        <span style="font-size: 14px;" class="tk-now"> ৳{{cart.product.discounted_prize}}
                          <!-- filtering for Showing the rate unit in the cart page  -->
                          {% if cart.product.ProductGroup == "SolidWeight" or cart.product.ProductGroup == "LiquidWeight"  %}
                          /{{cart.product.unit}}
                          {% else %} 
                          /quantity
                          {% endif %}
                        </span>


                        </span>

                      </div>

                      <span class="tk-per">Total Cost:
                        <span id="tc{{forloop.counter}}">
                          {{cart.products_total_cost}}
                        </span>
                      </span>


                    </div>
                  </div>
                  <div class="deliver-date-d">
                    <div class="deliver-date-d-text">
                      <span class="de-t-tex">Delivery by Thu Aug 5 </span>
                      <span class="t-line"> | </span>
                      <span class="t-free">free:</span>
                      <span class="t-free-tk">৳44</span>
                    </div>
                  </div>
                </div>
                <div class="add-to-cart-d-btn">
                  <div class="cart-d-p-btn">
                    <button {% if cart.product.ProductGroup != 'SolidWeight' and cart.product.ProductGroup != "LiquidWeight" and cart.product.ProductGroup != "ClothPices" %} {% else %} style="margin-right: 30px;" {% endif %} flc={{forloop.counter}} onclick="MinusCart(this)" prod={{cart.product.id}} productStock= {{cart.product.ProductStock}}
                    ProductGroup = {{cart.product.ProductGroup}}  size={{cart.size}} unit={{cart.unit}} unit_amount={{cart.unit_amount}} class="btn-sub"> -
                    </button>
                    {% if cart.product.ProductGroup != 'SolidWeight' and cart.product.ProductGroup != "LiquidWeight" and cart.product.ProductGroup != "ClothPices" %}
                    <div  class="cart-d-input">
                      <input id = "quantity{{forloop.counter}}" type="text" class="cart-d-rp" value="{{cart.quantity}}">
                    </div>
                    {% endif %}

                    <button id="plusCart{{forloop.counter}}" productStock= {{cart.product.ProductStock}} flc={{forloop.counter}} onclick="PlusCart(this)" prod={{cart.product.id}} ProductGroup = {{cart.product.ProductGroup}} size={{cart.size}}
                      unit={{cart.unit}} unit_amount={{cart.unit_amount}} class="btn-add"> + </button>

                  </div>
                  <div class="cart-save-remove">
                    <div class="cart-d-save">
                      save for later
                    </div>
                    <div flc={{forloop.counter}} prod_id={{cart.product.id}} size={{cart.size}} unit={{cart.unit}}
                      unit_amount={{cart.unit_amount}} onclick="RemoveCart(this)" class="cart-d-remove"> remove </div>
                  </div>
                </div>
              </div>

            </div>
            {% endfor cart %}

            <div class="place-order">
              <div class="place-or-container">
                <form action = "{% url 'checkouturlname' %}">
                  <input type="hidden">
                  <button id = "PTCOB" class="place-order-btn">Proceed to Chekout</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="add-cart-right">
        <div class="add-cart-price-main">
          <div class="add-cart-price-details-rp">
            <div class="cart-price-details-title">
              <span>PRICE DETAILS</span>
            </div>
            <div class="add-cart-p-details">
              <div class="cart-p-details">
                <div class="cart-p-details-itm">
                  price (<span id="ItemCountDom">{{Item}}</span> items)
                </div>
                <span class="cart-p-price">৳<span id="totalSellCostDom">{{Total_Selling_Cost}}</span></span>
              </div>
              <div class="cart-dis-details">
                <div class="cart-dis-title">
                  <span>Discount</span>
                </div>
                <div class="cart-dis-price">
                  <span>-৳ <span id="discountDom">{{Total_discount}}</span></span>
                </div>
              </div>
              <div class="cart-de-charge">
                <div class="cart-de-title">
                  <span>Delivery charge</span>
                </div>
                <div class="delivery-de-type">
                  <span class="type">+৳ {{delivery_cost}} </span>
                </div>
              </div>

              <div class="cart-d-total">
                <div class="total-title">
                  <span>Total Amount
                  </span>
                </div>
                <div class="total-price">
                  <span>৳ <span id="totalCostDom">{{Total_Cost}}</span></span>
                </div>
              </div>
              <div id = "DDom" style="display: none;">
                <div class="cart-de-charge">
                  <div class="cart-de-title">
                    <span id="COVDTDom">Coupon Discount
                    </span>
                  </div>
                  <div class="total-price">
                    <span>৳ -<span id="DADom"></span></span>
                  </div>
                </div>

                <div  class="cart-d-total">
                  <div class="total-title">
                    <span>New Amount
                    </span>
                  </div>
                  <div class="total-price">
                    <span>৳ <span id="NADom"></span></span>
                  </div>
                </div>
              </div>
              <div class="save-text">
                <p>You will save ₹3,591 on this orde</p>
              </div>
            </div>
          </div>
        </div>

        <div id="DMDom" style="color:red; display: none; text-align: center;"></div>
        <div class="card ">
          <div class="card-body">
            <h5>
              <small class="text-muted">Apply your coupon here</small>
            </h5>
            <span id="coupon_selector" style="color:red"></span>
            <input class="form-control" style="color:gray" type="text" name="code" id="code">
            <button class="coupon btn btn-sm btn-outline-primary mt-3" id='apply'>Apply</button>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
 <!-- for mobile -->
 <div class="small-cart">
  <div class="small-cart-container">
    <div class="small-cart-main">

     <div class="asdf">
       <div class="rrtb">
        <div class="small-place-btn  cdfr">
          <div class="small-place-btn-row">
            <div class="s-all-price">
              <h1>
                <span class="smbl">
                 ৳
                </span>
                <span class="a-price">
                  33545
                </span>
              </h1>
            </div>
            <div class="sp-btn">
              <button class="s-place-btn">
                   place order
              </button>
            </div>
          </div>
        </div>
       </div>
     </div>
       <!-- small product details -->
      <div class="s-cart-details">
        <div class="s-cart-m">
          <div class="s-cart-row">
            <div class="s-cart-left">
              <div class="s-cart-left-m">
                <div class="cart-m-title">
                  <a>product headline here Lorem ipsum dolor sit amet.</a>
                </div>
                <div class="cart-m-brand">
                  <span class="s-brand">
                    brand:
                  </span>
                  <span class="s-brand-n">
                    adidas
                  </span>
                </div>
                <div class="s-cart-prod-d">
                  <div class="cart-prod-size">
                    <span class="s-size">size:</span>
                    <span class="s-size-p">
                      12
                    </span>
                    <span class="cart-prod-color">
                      red
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="s-cart-right">
              <div class="s-cart-right-main">
                <div class="s-cart-right-img">
                  <img src="/static/app/image/p-2.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="s-cart-price-quty">
            <div class="price-quty-row">
              <div class="s-cart-price">
                <div class="s-cart-price-main">
                  <div class="s-cart-price-row">
                    <div class="s-c-price-now">
                      <span>৳ 123445</span>
                    </div>
                    <div class="s-cart-price-disc">
                      ৳ 2355
                    </div>
                    <div class="s-price-off">
                      <span>
                        34% off
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="s-cart-quty">
                <div class="cart-quty-main">
                  <div class="cart-quty-row">
                    <div class="quty-decre">
                      <button>-</button>
                    </div>
                    <div class="quty-input">
                      <input type="text" value="1">
                    </div>
                    <div class="quty-incre">
                      <button>+</button>
                    </div>
                  </div>
                </div>
              </div>
             

            </div>
          </div>

          <div class="delivery">
            <div class="delivery-main">
              <div class="delivery-row">
                <div class="delivery-date">
                  <span class="delivery-text">
                    Delivery by
                  </span>
                  <span class="delivery-date">
                    Thu jul 7  |
                  </span>
                </div>
                <div class="delivery-price">
                  <div class="delivery-price-main">
                    <span class="d-price-text">
                      free
                    </span>
                    <span class="d-price">
                      ৳40
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="s-cart-btn-t">
            <div class="s-cart-btn-main">
              <div class="s-cart-btn-row">
                <div class="save-btn">
                  <button class="save">save for latter</button>
                </div>
                <div class="remove-btn">
                  <button class="remove">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="s-cart-m">
          <div class="s-cart-row">
            <div class="s-cart-left">
              <div class="s-cart-left-m">
                <div class="cart-m-title">
                  <a>product headline here Lorem ipsum dolor sit amet.</a>
                </div>
                <div class="cart-m-brand">
                  <span class="s-brand">
                    brand:
                  </span>
                  <span class="s-brand-n">
                    adidas
                  </span>
                </div>
                <div class="s-cart-prod-d">
                  <div class="cart-prod-size">
                    <span class="s-size">size:</span>
                    <span class="s-size-p">
                      12
                    </span>
                    <span class="cart-prod-color">
                      red
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="s-cart-right">
              <div class="s-cart-right-main">
                <div class="s-cart-right-img">
                  <img src="/static/app/image/p-2.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="s-cart-price-quty">
            <div class="price-quty-row">
              <div class="s-cart-price">
                <div class="s-cart-price-main">
                  <div class="s-cart-price-row">
                    <div class="s-c-price-now">
                      <span>৳ 123445</span>
                    </div>
                    <div class="s-cart-price-disc">
                      ৳ 2355
                    </div>
                    <div class="s-price-off">
                      <span>
                        34% off
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="s-cart-quty">
                <div class="cart-quty-main">
                  <div class="cart-quty-row">
                    <div class="quty-decre">
                      <button>-</button>
                    </div>
                    <div class="quty-input">
                      <input type="text" value="1">
                    </div>
                    <div class="quty-incre">
                      <button>+</button>
                    </div>
                  </div>
                </div>
              </div>
             

            </div>
          </div>

          <div class="delivery">
            <div class="delivery-main">
              <div class="delivery-row">
                <div class="delivery-date">
                  <span class="delivery-text">
                    Delivery by
                  </span>
                  <span class="delivery-date">
                    Thu jul 7  |
                  </span>
                </div>
                <div class="delivery-price">
                  <div class="delivery-price-main">
                    <span class="d-price-text">
                      free
                    </span>
                    <span class="d-price">
                      ৳40
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="s-cart-btn-t">
            <div class="s-cart-btn-main">
              <div class="s-cart-btn-row">
                <div class="save-btn">
                  <button class="save">save for latter</button>
                </div>
                <div class="remove-btn">
                  <button class="remove">
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <!-- small product details -->
      

      

    </div>
  </div>
</div>
{% endblock body %}

{% block footer %} 

{% endblock footer %}
{% block js %}
<script src="{% static 'app/js/jquery.js' %}"></script>
<script src="{% static 'app/js/cart.js' %}"></script>
{% endblock js %}