{% extends 'app/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'app/css/fontend.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/adressBook.css' %}" />
<link rel="stylesheet" href="{% static 'app/css/checkout.css' %}" />
{% endblock %} 

{% block extraLink %}
<script
  src="https://kit.fontawesome.com/9bc804fb98.js"
  crossorigin="anonymous"
></script>
{% endblock extraLink %} 

{% block body %}
<!-- check out page for pc -->
<div class="check-out-main">
  <div class="check-out-container">
    <div class="check-out-section">
      <div class="check-out-row">
        <div class="check-out-left">
          <div class="checkout-header">
            <div class="checkout-header-row">
              <div class="checkout-items">
                <span>Items: {{len}}</span>
              </div>
              <div class="checkout-price">
                <span>Price</span>
              </div>
              <div class="checkout-quantity">
                <span>Quantity</span>
              </div>
            </div>
          </div>

          {% for cart in carts %}
          <!-- product-start -->
          <div class="check-out-left-container">
            <div class="checkout-content-section">
              <div class="checkout-package">
                <div class="package-left">
                  <span>package {{forloop.counter}} of {{len}}</span>
                </div>
              </div>
              <div class="checkout-content">
                <div class="checkout-head">
                  <span>{{cart.product.title}}</span>
                </div>

                <div class="checkout-items-r">
                  <div class="checkout-items-row">
                    <div class="ck-product">
                      <div class="ck-product-details">
                        <div class="ck-product-img">
                          <img
                            src="{{cart.product.product_image.url}}"
                            alt=""
                          />
                        </div>
                        <div class="ck-product-title">
                          <div class="ck-details">
                            <span class="brand-name">{{cart.product.brand}}</span>
                            {% if cart.size %}
                            <span class="ck-size-text"
                              >size: {{cart.size}}</span
                            >
                            {% endif %} {% if cart.color %}
                            <span class="ck-color-text"
                              >Color:{{cart.color}}</span
                            >
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="checkout-middle">
                      <div class="ck-product-price">
                        <span>{{cart.product.selling_prize}}</span>
                      </div>

                      <div class="ck-free-percent">
                        <span>-{{cart.product.discount}}%</span>
                      </div>

                      <div class="ck-product-main-price">
                        <span>৳ {{cart.product.discounted_prize}}</span>
                      </div>
                      
                    </div>

                    <div class="ck-checkout-right">
                      <div class="ck-qun">
                        <span class="qun-text">Qty:</span>
                        <span class="qun-cunt">{{cart.quantity}}</span>
                      </div>
                      <div>
                        <span style="text-decoration: line-through"
                          ><span class="cost">cost:</span>  {{cart.products_total_selling_cost}}</span
                        >
                      </div>
                      <div><span class="cost">cost:</span>{{cart.products_total_cost}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- product-end -->
          {% endfor %}
        </div>

        <div class="check-out-right">
          <div class="check-out-posi">
            <div class="check-out-right-main">
              <div class="ck-pay-btn">
                <button id="ptp" class="pay-btn">Select your address</button>
              </div>

              <!-- Editing Area -->
              <div id="editDiv">
                <div class="check-out-right-title">
                  <h1 class="ck-r-t">Shipping & Billing</h1>
                </div>
                <div class="ck-profile">
                  <div class="ck-profile-text">
                    <span class="ck-icn"
                      ><i class="fa fa-map-marker-alt"></i
                    ></span>
                    <span id="shAdrName" class="ck-profile-name">
                      {{daddress.full_name}}
                    </span>
                  </div>
                  <div class="ck-profile-edit">
                    <a  id="adredit" class="ck-edit">Edit</a>
                  </div>
                </div>
                <div class="ck-all-address">
                  <span id="adrWithLocations" class="ck-address"
                    >{{daddress.address}}, {{daddress.unions}},
                    {{daddress.upazilas}}, {{daddress.districts}},
                    {{daddress.divisions}}</span
                  >
                </div>

                <div class="email-address">
                  <div class="email-address-tex">
                    <span class="email-icons">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <span class="email-text">{{profile.email}}</span>
                  </div>
                </div>

                <div class="phone-address">
                  <div class="phone-address-tex">
                    <span class="phone-icons">
                      <i class="fa fa-phone"></i>
                    </span>
                    <span class="phone-text" id="adrPhone">{{daddress.phone_number}}</span>
                  </div>
                </div>
              </div>
              <!-- Editing Area -->

              <!--hidden address changer.. -->
              <div id="adrDiv" style="display: none" class="address-book">
                <div
                  style="
                    min-height: auto;
                    padding-top: 10px;
                    max-height: 212px;
                    overflow: auto;
                    padding: 0;
                  "
                  class="address-book-table scroll"
                >
                  <div class="next-table">
                    <div class="next-table-inner">
                      <div class="next-table-body">
                        <table style="font-size: 13px">
                          {% for address in newaddress %}
                          <tbody>
                            <tr class="next-table-row">
                              <td class="next-table-cell">
                                <div
                                  style="
                                    text-align: left;
                                    padding: 0px !important;
                                  "
                                  class="next-table-cell-wrapper"
                                >
                                  {{address.full_name}}
                                </div>
                              </td>
                              <td class="next-table-cell">
                                <div
                                  style="
                                    text-align: left;
                                    padding: 0px !important;
                                  "
                                  class="next-table-cell-wrapper"
                                >
                                  {{address.address}}
                                </div>
                              </td>
                              <td style="width: 10%" class="next-table-cell">
                                <div class="next-table-cell-wrapper">
                                  {% if address.isDefault == True %}
                                  <i
                                    style="color: #eb6529"
                                    id="checked"
                                    class="fas fa-check-circle"
                                  ></i>
                                  <input
                                    style="display: none"
                                    name="isDefaultName"
                                    CAddressId="{{address.id}}"
                                    type="radio"
                                    class="isDefaultClass cHK"
                                    value="{{address.isDefault}}"
                                  />
                                  {% else %}

                                  <input
                                    id="circlebox"
                                    name="isDefaultName"
                                    CAddressId="{{address.id}}"
                                    type="radio"
                                    class="isDefaultClass cHK"
                                    value="{{address.isDefault}}"
                                  />
                                  {% endif %}
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          {% endfor %}
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--hidden address changer.. -->

              <div class="order-summery">
                <div class="os-title">
                  <h1>Order Summary</h1>
                </div>
                <div class="os-total-section">
                  <div class="os-total-text">
                    <div class="os-total">
                      Subtotal <span class="tottal">({{len}} items)</span>
                    </div>
                  </div>
                  <div class="os-tatal-con">
                    <span> ৳ {{subTotal}}</span>
                  </div>
                </div>
                {% if discount %}
                <div class="os-shipping">
                  <div class="os-sipping-text">
                    <span>Coupon or voucher</span>
                  </div>
                  <div class="shipping-money">
                    <span> ৳ - {{discount}}</span>
                  </div>
                </div>
                {% endif %}
                <div class="os-shipping">
                  <div class="os-sipping-text">
                    <span>Shipping fee</span>
                  </div>
                  <div class="shipping-money">
                    <span> ৳ {{deliveryCharge}}</span>
                  </div>
                </div>
                <div class="total-section">
                  <div class="total-text">
                    <span>Total:</span>
                  </div>
                  <div class="total-amount">
                    <span class="amount"> ৳ {{totalAmount}}</span>
                  </div>
                </div>
                <div class="ck-pay-btn">
                  <a href="{% url 'paymentpageurlname' %}">
                    <button class="pay-btn">Proceed to pay</button>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="phone-checkout-btn-section">
  <div class="phone-checkout-btn-container">
    <div class="phone-checkout-btn-row">
      <div class="phn-checkout-btn-total">
        <div class="pcb-total">
          <span class="pcb-total-text">Total:</span>
          <span class="pcb-total-amaount">৳ {{totalAmount}}</span>
        </div>
        <div class="phone-vat">
          <span class="vat-text"> VAT included,where applicable </span>
        </div>
      </div>
      <div class="phone-checkout-btn">
        <a href="{% url 'paymentpageurlname' %}" class="ph-btn">Proceed to pay</a>
      </div>
    </div>
  </div>
</div>
<div style="height: 62px;"></div>
{% endblock body %} 

{% block js %}
<script src="{% static 'app/js/jquery.js' %}"></script>
<script src = "{% static 'app/js/checkout.js' %}"></script>

{% endblock js %}
