{% extends 'app/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/fontend.css' %}">
<link rel="stylesheet" href="{% static 'app/css/order.css' %}">
{% endblock css %}

{% block extraLink %}
<script src="https://kit.fontawesome.com/9bc804fb98.js" crossorigin="anonymous"></script>
{% endblock extraLink %}

{% block body %}
<div class="order-section" >
  <div class="cancellation-section">
    <div class="cancellation-container">
      <div class="cancellation-main">
        <div class="cancellation-row">
          {% include 'app/aLeftSection.html' %}
          <div class="cancellation-right-section">
            <div class="cancellation-right-main">
              {% for order in orders %}
              <div class="orderContainer">
                <div class="leftContainer">
                  <div id="SaveQuantityDiv">
                   <div id="saveDiv">Saved:<span style="margin-left: 4px;" id="savedAmount">500</span>  BDT</div> 
                   {% if order.product.ProductGroup == "SolidWeight" or order.product.ProductGroup == "LiquidWeight" or order.product.ProductGroup == "ClothPices" %} 
                   <div id="quantityDiv">UnitAmount: <span id="quantityAmount">{{order.unitAmount}}{{order.unit}}</span></div>
                   {% else %}                   
                   <div id="quantityDiv">Quantity: <span id="quantityAmount">{{order.quantity}}</span></div>
                   {% endif %}
                  </div>

                  <a href="{% url 'oTOSurlname' order.id %}">
                  <div id="imageDiv" >
                    <div class="order-image">
                    <div class="image-set">
                    <img src="{{order.product.product_image.url}}" alt="">
                    </div>
                    </div>
                  </div>
                  </a>
                  <div id="titleDiv">Cucumber Face Mask</div>
                </div>
                <div class="rightContainer">
                  <div class="orderStatus">

                    <div class="statusContainer">
                      
                      <div class="LIsection">
                        <div style="background-color: #EB6529;" class="verticalLine"></div>
                        <div class="iconCircleContainer">
                        </div>
                        <div style="background-color: #EB6529;" class="iconCircle"><i style="color: white; font-size: 10px; margin-top: 5px;"
                            class="fas fa-check"></i>
                        </div>
                        <div style="background-color: #EB6529;" class="verticalLine"></div>
                      </div>

                      <div class="title"><span id="Rs"></span> Pending</div>

                    </div>
                   
                    {% if order.status == "Confirmed" or order.status == 'On the way' or order.status == 'Delivered' %}
                    <div class="statusContainer">
                      <div class="LIsection">
                        <div style="background: #EB6529;"  class="verticalLine"></div>
                        <div style="background: #EB6529;" class="iconCircle">
                          <i style="font-size: 11px; color: white; margin-top: 5px;" class="fas fa-user-check"></i>
                        </div>
                        <div style="background: #EB6529;" class="verticalLine"></div>
                      </div>

                      <div class="title">Confirmed</div>
                    </div>
                    {% else %}
                    <div class="statusContainer">
                      <div class="LIsection">
                        <div class="verticalLine"></div>
                        <div class="iconCircle">
                          <i style="font-size: 11px; color: black; margin-top: 5px;" class="fas fa-user-check"></i>
                        </div>
                        <div class="verticalLine"></div>
                      </div>

                      <div class="title">Confirmed</div>
                    </div>
                    {% endif %}

                    {% if order.status == 'On the way' or order.status == 'Delivered' %}
                    <div class="statusContainer">
                      <div class="LIsection">
                        <div style="background: #EB6529;" class="verticalLine"></div>
                        <div style="background: #EB6529;" class="iconCircle">
                          <i style="font-size: 10px;
                         color: white; margin-top: 5px;" class="fas fa-truck"></i>
                        </div>
                        <div style="background: #EB6529;" class="verticalLine"></div>
                      </div>
                      <div class="title"> <span id = "rspan">On the</span>  Way</div>
                    </div>

                    {% else %}
                    <div class="statusContainer">
                      <div class="LIsection">
                        <div class="verticalLine"></div>
                        <div class="iconCircle">
                          <i style="font-size: 10px;
                         color: black; margin-top: 5px;" class="fas fa-truck"></i>
                        </div>
                        <div class="verticalLine"></div>
                      </div>
                      <div class="title"> <span id = "rspan">On the</span>  Way</div>
                    </div>
                    {% endif %}

                    {% if order.status == "Delivered" %}
                    <div class="statusContainer">
                      <div class="LIsection">
                        <div style="background: #EB6529;" class="verticalLine"></div>
                        <div style="background: #EB6529;" class="iconCircle">
                          <i style="font-size: 10px;
                       color: white; margin-top: 5px;" class="fas fa-gift"></i>
                        </div>
                        <div style="background: #EB6529;" class="verticalLine"></div>
                      </div>
                      <div class="title">Delivered</div>
                    </div>

                    {% else %}
                    <div class="statusContainer">
                      <div class="LIsection">
                        <div class="verticalLine"></div>
                        <div class="iconCircle">
                          <i style="font-size: 10px;
                       color: black; margin-top: 5px;" class="fas fa-gift"></i>
                        </div>
                        <div class="verticalLine"></div>
                      </div>
                      <div class="title">Delivered</div>
                    </div>
                    {% endif %}

                  </div>

                  <div class="shortSummery">
                    <div class="SSmLeft">

                      <div class="item">
                        <span id="orderDate">Order Date:</span>
                        <span id="orderDateV">{{order.ordered_date}}</span>
                      </div>

                      <div class="itemContainer">
                        <span  id="totalAmount">Total:</span>
                        <span id="totalAmountV">{{order.singleProductCost}}</span>
                      </div>

                      <div class="item">
                        <span id="paymentType">Payment Type:</span>
                        <span id="paymentTypeV">Cash On Delivery</span>
                      </div>

                      <div class="item">
                        <span  id="deleveryMethod">Delivery Method:</span>
                        <span id="deleveryMethodV">{{order.courier}}</span>
                      </div>

                    </div>
                    <div class="SSmRight">
                      <div class="item">
                        <span  id="orderNum">Order No:</span>
                        <span id="orderNumV">{{order.id}}</span>
                      </div>

                      <div class="itemContainer">
                        <span  id="shippinCost">Shipping cost:</span>
                        <span id="shippingCostV">:{{order.shippingCost}} BDT</span>
                      </div>

                      <div class="item">
                        <span  id="deliveryDate">Delivery Date:</span>
                        <span id="deliveryDateV">{{order.delivery_date}}</span>
                      </div>

                    </div>
                    
                    {% if order.status == 'Confirmed' or order.status == "On the way" %}
                    <div style="display: none;" id="cancelDiv">
                      <button id="cancelButton" style="border: none;">Cancel</button>
                    </div>
                    {% elif order.status == 'Delivered' %} 
                    <div style="display: block;" id="cancelDiv">
                      <a href="{% url 'rmakerurlname' order.id %}"><button id="cancelButton" style="border: none; background:#009245; cursor:pointer;">Return</button></a>
                    </div>
                    {% else %} 
                    <div style="display: block;" id="cancelDiv">
                     <a href="{% url 'cancelorderurlname' order.id %}"> <button id="cancelButton" style="border: none; cursor: pointer;">Cancel</button></a>
                    </div>
                    {% endif %}

                  </div>

                </div>
              </div> 

              {% endfor %}

            </div>
          </div>


        </div>


      </div>

    </div>
  </div>

</div>
{% endblock body %}