{% extends 'app/base.html' %} 
{% load static %}

{% block  css %} 
<link rel="stylesheet" href="{% static 'app/css/fontend.css' %}">
<link rel="stylesheet" href="{% static 'app/css/order.css' %}">
{% endblock css %}

{% block body %}
  <div class="order-section">
    <div class="cancellation-section">
      <div class="cancellation-container">
        <div class="cancellation-main">
          <div class="cancellation-row">
            {% include 'app/aLeftSection.html' %}
            <div class="cancellation-right-section">
              <div class="cancellation-right-main">
                   <div class="phone-oder-title-section">
                     <div class="phone-order-icons">
                       <a href="/templates/app/manageAccount.html">
                        <i class="fa fa-arrow-left"></i>
                      </a>
                     </div>
                     <div class="phone-order-title-text">
                      <h1 class="pot">my order</h1>
                     </div>
                   </div>
                <div class="cancellation-right-title">
                  <h1 class="ocrt">My order</h1>
                </div>
                <div class="cancellation-container">
                  <div class="cancellation">

                    <!-- list-start -->
                    <div class="cancellation-list">
                      <div class="order">
                        <div class="order-info">
                          <div class="order-info-row">
                            <div class="order-info-left">
                              <div class="order-create">
                                <span class="oc">Order date </span>
                                <span class="order-date">
                                  12 Sep 2021
                                </span>
                              </div>
                              <div class="order-number">
                                <span class="on">#2345987493274</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="order-item">
                        <div class="order-item-row">
                          <div class="order-image">
                            <div class="image-set">
                              <img src="/static/app/image/product-1.webp" alt="">

                            </div>
                          </div>
                          <div class="order-product-title">
                            <span class="op-title">
                              3 Pcs Drain Hair Wig Removal Clog Tools Bathroom Hair Sewer Outlet Kitchen Sink Anti
                              Clogging Floor Toilet Cleaner Filter
                            </span>
                          </div>
                          <div class="order-qu">
                            <span>Qty:</span>
                            <span class="qu">
                              1
                            </span>
                          </div>
                          <div class="order-status">
                            <a class="os">remove</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- list-end -->

                    
                    <!-- list-start -->
                    <div class="cancellation-list">
                      <div class="order">
                        <div class="order-info">
                          <div class="order-info-row">
                            <div class="order-info-left">
                              <div class="order-create">
                                <span class="oc">Order date </span>
                                <span class="order-date">
                                  12 Sep 2021
                                </span>
                              </div>
                              <div class="order-number">
                                <span class="on">#2345987493274</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="order-item">
                        <div class="order-item-row">
                          <div class="order-image">
                            <div class="image-set">
                              <img src="/static/app/image/product-1.webp" alt="">

                            </div>
                          </div>
                          <div class="order-product-title">
                            <span class="op-title">
                              3 Pcs Drain Hair Wig Removal Clog Tools Bathroom Hair Sewer Outlet Kitchen Sink Anti
                              Clogging Floor Toilet Cleaner Filter
                            </span>
                          </div>
                          <div class="order-qu">
                            <span>Qty:</span>
                            <span class="qu">
                              1
                            </span>
                          </div>
                          <div class="order-status">
                            <a class="os">remove</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- list-end -->

                    
                    <!-- list-start -->
                    <div class="cancellation-list">
                      <div class="order">
                        <div class="order-info">
                          <div class="order-info-row">
                            <div class="order-info-left">
                              <div class="order-create">
                                <span class="oc">Order date </span>
                                <span class="order-date">
                                  12 Sep 2021
                                </span>
                              </div>
                              <div class="order-number">
                                <span class="on">#2345987493274</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="order-item">
                        <div class="order-item-row">
                          <div class="order-image">
                            <div class="image-set">
                              <img src="/static/app/image/product-1.webp" alt="">

                            </div>
                          </div>
                          <div class="order-product-title">
                            <span class="op-title">
                              3 Pcs Drain Hair Wig Removal Clog Tools Bathroom Hair Sewer Outlet Kitchen Sink Anti
                              Clogging Floor Toilet Cleaner Filter
                            </span>
                          </div>
                          <div class="order-qu">
                            <span>Qty:</span>
                            <span class="qu">
                              1
                            </span>
                          </div>
                          <div class="order-status">
                            <a class="os">remove</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- list-end -->

                    
                    <!-- list-start -->
                    <div class="cancellation-list">
                      <div class="order">
                        <div class="order-info">
                          <div class="order-info-row">
                            <div class="order-info-left">
                              <div class="order-create">
                                <span class="oc">Order date </span>
                                <span class="order-date">
                                  12 Sep 2021
                                </span>
                              </div>
                              <div class="order-number">
                                <span class="on">#2345987493274</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="order-item">
                        <div class="order-item-row">
                          <div class="order-image">
                            <div class="image-set">
                              <img src="/static/app/image/product-1.webp" alt="">

                            </div>
                          </div>
                          <div class="order-product-title">
                            <span class="op-title">
                              3 Pcs Drain Hair Wig Removal Clog Tools Bathroom Hair Sewer Outlet Kitchen Sink Anti
                              Clogging Floor Toilet Cleaner Filter
                            </span>
                          </div>
                          <div class="order-qu">
                            <span>Qty:</span>
                            <span class="qu">
                              1
                            </span>
                          </div>
                          <div class="order-status">
                            <a class="os">remove</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- list-end -->

                  </div>

                </div>
              </div>
            </div>


          </div>



        </div>

      </div>
    </div>

  </div>
{% endblock body %}


