{% extends 'app/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/paymentPage.css' %}">
<link rel="stylesheet" href="{% static 'app/css/fontend.css' %}">
<link rel="stylesheet" href="{% static 'app/css/checkout.css' %}">
{% endblock css %}

{% block extraLink %}
<script src="https://kit.fontawesome.com/9bc804fb98.js" crossorigin="anonymous"></script>
{% endblock extraLink %}

{% block body %}
    <!-- payment page for pc -->
    <div class="payment-main">
        <div class="payment-container">
            <div class="payment-section">
                <div class="payment-row">
                    <div class="payment-left">
                        <div class="warning" id="paymentMethodWarning"></div>
                        <div class="payment-left-container">
                            <div class="tab">
                                <button value="D/CCard" class="tablinks"onclick="payment(event, 'credit-card')">Credit/ Debit card</button>
                                <button value="Net Banking" class="tablinks" onclick="payment(event, 'net-banking')">Net Banking</button>
                                <button id="defaultOpen" value="cashOn" class="tablinks" onclick="payment(event, 'cash-on')">Cash on delivery</button>
                            </div>

                            <div id="credit-card" class="tabcontent">
                                <div class="credit-card-content">
                                    <div class="card-row">
                                        <div class="visa-card">
                                            <div class="visa-card-content">
                                                <div class="visa-logo">
                                                    <img src="/static/app/image/visa.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="master-card">
                                            <div class="master-card-content">
                                                <div class="master-logo">
                                                    <img src="/static/app/image/MasterCard.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="net-banking" class="tabcontent">
                                <div class="net-banking-content">
                                    <div class="net-banking-row">
                                        <!-- card-start -->
                                        <div class="banking-card">
                                            <div class="banking-pad">
                                                <div class="net-card-img">
                                                    <img src="/static/app/image/bank-1.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card-end -->

                                        <!-- card-start -->
                                        <div class="banking-card">
                                            <div class="banking-pad">
                                                <div class="net-card-img">
                                                    <img src="/static/app/image/bank-2.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card-end -->

                                        <!-- card-start -->
                                        <div class="banking-card">
                                            <div class="banking-pad">
                                                <div class="net-card-img">
                                                    <img src="/static/app/image/bank-3.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card-end -->

                                        <!-- card-start -->
                                        <div class="banking-card">
                                            <div class="banking-pad">
                                                <div class="net-card-img">
                                                    <img src="/static/app/image/bank-4.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card-end -->


                                        <!-- card-start -->
                                        <div class="banking-card">
                                            <div class="banking-pad">
                                                <div class="net-card-img">
                                                    <img src="/static/app/image/bank-5.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- card-end -->
                                    </div>
                                </div>

                            </div>

                            <div id="cash-on" class="tabcontent">
                                <div class="cash-on-delivery">
                                    <div class="cash-on-delivery-content">
                                       <div class="cash-on-delivery-img">
                                           <img src="/static/app/image/cash-on.jpg" alt="">
                                       </div>
                                       <div class="cash-on-text">
                                           <span class="cash-text">
                                               Cash on delivery
                                           </span>
                                       </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="courier-section">
                            <div class="courier-container">
                                <div class="courier-title">
                                    <h3>choose your courier</h3>
                                </div>

                                <div class="warning"  id = "courierWarning"></div>

                                <div class="courier-content">
                                    <div class="courier-content-row">
                                        <!-- courier name start -->
                                        <div class="courier-name" value= "Sundorban">
                                            <div class="courier-name-content">
                                                <div name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-1.png" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Sundarban</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                
                                        <!-- courier name start -->
                                        <div class="courier-name" value = "Redex">
                                            <div class="courier-name-content">
                                                <div name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-2.jpg" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Redex</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- courier name start -->
                                        <div class="courier-name" value = "Jononi">
                                            <div class="courier-name-content">
                                                <div name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-3.jpg" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Jononi</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- courier name start -->
                                        <div class="courier-name" value = "Edex">
                                            <div class="courier-name-content">
                                                <div name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-4.jpg" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Edex</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- courier name start -->
                                        <div class="courier-name" value = "Amazon">
                                            <div class="courier-name-content">
                                                <div name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-5.jpg" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Amazon</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- courier name start -->
                                        <div class="courier-name" value = "Avarest">
                                            <div class="courier-name-content">
                                                <div name="sundorban" class="courier-btn">
                                                    <div class="name-logo">
                                                        <img src="/static/app/image/courier-3.jpg" alt="">
                                                    </div>
                                                    <div class="c-name">
                                                        <span>Avarest</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
 
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="check-out-right payment-right">
                        <div class="check-out-posi payment-posi">
                            <div class="check-out-right-main payment-right-main">
                                <div class="ck-pay-btn">
                                    <button id="ptp" class="pay-btn">Select your address</button>
                                </div>
      
                                <!-- Editing Area -->
                                <div id="editDiv">
                                    <div class="check-out-right-title payment-right-title">
                                        <h1 class="ck-r-t">Shipping & Billing</h1>
                                    </div>
                                    <div class="ck-profile">
                                        <div class="ck-profile-text">
                                            <span class="ck-icn"><i class="fa fa-map-marker-alt"></i></span>
                                            <span id="shAdrName" class="ck-profile-name">
                                                {{daddress.full_name}}
                                            </span>
                                        </div>
                                        <div class="ck-profile-edit">
                                            <a href="#" id="adredit" class="ck-edit">Edit</a>
                                        </div>
                                    </div>
                                    <div class="ck-all-address">
                                        <span id="adrWithLocations" class="ck-address">{{daddress.address}},
                                            {{daddress.unions}},
                                            {{daddress.upazilas}}, {{daddress.districts}},
                                            {{daddress.divisions}}</span>
                                    </div>
      
                                    <div class="email-address">
                                        <div class="email-address-tex">
                                            <span class="email-icons">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                            <span class="email-text">{{profile.email}}</span>
                                        </div>
                                    </div>
      
                                    <div class="phone-address">
                                        <div class="phone-address-tex">
                                            <span class="phone-icons">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <span class="phone-text">{{profile.phone_number}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Editing Area -->
      
                                <!--hidden address changer.. -->
                                <div id="adrDiv" style="display: none" class="address-book">
                                    <div style="
                                  min-height: auto;
                                  padding-top: 10px;
                                  max-height: 212px;
                                  overflow: auto;
                                " class="address-book-table scroll">
                                        <div class="next-table">
                                            <div class="next-table-inner">
                                                <div class="next-table-body">
                                                    <table style="font-size: 13px; width: 100%;">
                                                             {% for address in newaddress %}
                                                        <tbody>
                                                            <tr class="next-table-row">
                                                                <td class="next-table-cell">
                                                                    <div style="
                                                            text-align: left;
                                                            padding: 0px !important;
                                                            margin-bottom: 10px;
                                                            " class="next-table-cell-wrapper">
                                                                        {{address.full_name}}
                                                                    </div>
                                                                </td>
                                                                <td class="next-table-cell">
                                                                    <div style="
                                                  text-align: left;
                                                  padding: 0px !important;
                                                  margin-bottom: 10px;
                                                " class="next-table-cell-wrapper">
                                                                        {{address.address}}
                                                                    </div>
                                                                </td>
                                                                <td style="width: 10%" class="next-table-cell">
                                                                    <div class="next-table-cell-wrapper">
                                                                        {% if address.isDefault == True %}
                                                                        <i style="color: #eb6529" id="checked"
                                                                            class="fas fa-check-circle"></i>
                                                                        <input style="display: none" name="isDefaultName"
                                                                            CAddressId="{{address.id}}" type="radio"
                                                                            class="isDefaultClass cHK"
                                                                            value="{{address.isDefault}}" />
                                                                        {% else %}
      
                                                                        <input id="circlebox" name="isDefaultName"
                                                                            CAddressId="{{address.id}}" type="radio"
                                                                            class="isDefaultClass cHK"
                                                                            value="{{address.isDefault}}" />
                                                                        {% endif %}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        {% endfor %}
                                                    
                                                       
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--hidden address changer.. -->
      
                                <div class="order-summery">
                                    <div class="os-title">
                                        <h1>Order Summary</h1>
                                    </div>
                                    <div class="os-total-section">
                                        <div class="os-total-text">
                                            <div class="os-total">
                                                Subtotal <span class="tottal">({{len}} items)</span>
                                            </div>
                                        </div>
                                        <div class="os-tatal-con">
                                            <span> ৳ {{subTotal}}</span>
                                        </div>
                                    </div>

      
                                    {% if buyNowDiscount != 'none' and buyNowDiscount %}
                                    <div class="os-shipping">
                                        <div class="os-sipping-text">
                                            <span>Coupon or voucher</span>
                                        </div>
                                        <div class="shipping-money">
                                            <span> ৳ - {{buyNowDiscount}}</span>
                                        </div>
                                    </div>
                                    {% endif %}
      
                                    <div class="os-shipping">
                                        <div class="os-sipping-text">
                                            <span>Shipping fee</span>
                                        </div>
                                        <div class="shipping-money">
                                            <span> ৳ {{shippingCost}}</span>
                                        </div>
                                    </div>
                                    <div class="total-section">
                                        <div class="total-text">
                                            <span>Total:</span>
                                        </div>
                                        <div class="total-amount">
                                            <span class="amount"> ৳ {{totalAmount}}</span>
                                        </div>
                                    </div>
                                    <div id = "PTPButton" class="ck-pay-btn">
                                        {% if from == 'buyNow' %}
                                        <a href="{% url 'bwordermakerurlname' %}">
                                            <button  id="PTPayBtn" class="pay-btn">Proceed to pay</button>
                                        </a>
                                        {% else %} 
                                        <a href="{% url 'ctordermakerurlname' %}">
                                            <button id="PTPayBtn" class="pay-btn">Proceed to pay</button>
                                        </a>
                                        {% endif %}
      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="phone-checkout-btn-section">
        <div class="phone-checkout-btn-container">
            <div class="phone-checkout-btn-row">
                <div class="phn-checkout-btn-total">
                    <div class="pcb-total">
                        <span class="pcb-total-text">Total:</span>
                        <span class="pcb-total-amaount">৳ 150</span>
                    </div>
                    <div class="phone-vat">
                        <span class="vat-text">
                            VAT included,where applicable
                        </span>
                    </div>
                </div>
                <div class="phone-checkout-btn">
                    <a href="#" class="ph-btn">Proceed to pay</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
<script src="{% static 'app/js/jquery.js' %}"></script>
<script src="{% static 'app/js/paymentPage.js' %}"></script>
<script src="{% static 'app/js/checkout.js' %}"></script>
{% endblock js %}