{% extends 'app/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="/static/app/css/fontend.css" />
<link rel="stylesheet" href="/static/app/css/singleproduct.css" />
<link rel="stylesheet" href="/static/app/css/productpage.css" />
{% endblock css %} {% block inbfol %} onload ="fput()" {% endblock inbfol %}
{% block body %}
<div id="Sproduct" style="display: none;">
  <a href="{% url 'showcarturlname' %}">Added to cart. view cart</a>
</div>
<!---------Single Product ---->
<div id="Rproduct" class="single-product-cart-section">
  <div class="single-product-cart-main">
    <div class="single-product-cart-container">
      <div class="single-product-cart-row">
        <div class="single-product-cart-left">
          <div class="single-product-cart-left-m">
            <div class="single-product-cart-left-r">
              <div class="cart-left-r-right">
                <div class="single-product-cart-image img-zoom-container">
                  <img id="myimage" src="{{product.product_image.url}}" alt="" />

                  <div id="myresult" class="img-zoom-result"></div>
                </div>
                {% if product.productattributevalue_set.first.productStock == None or product.productattributevalue_set.first.productStock < 1 %}
                <div id = "stockDiv">Stock Out</div>

                
                {% else %}
                <div class="single-product-cart-button">
                  <div class="add-cart-btn">
                    <button prod="{{product.id}}" productStock={{product.productattributevalue_set.first.productStock}} id="aTCButton" onclick="addToCart(this)" class="cart-btn">
                      Add to cart 
                    </button>
                  </div>
                  <div class="buy-cart-btn">
                  <a id="buyNowa" href="{% url 'buynowurlname' product.id %}">  <button  id = "buyNowBTN" class="buy-btn"> buy now </button></a>
                  </div>
                </div>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
        <div class="single-product-cart-right">
          <div class="single-product-cart-details">
            <div class="single-product-cart-title">
              <h1>
                {{product.title}}
              </h1>
            </div>

            <div class="hr"></div>
            <div class="s-p-price">
              <span class="price-name">
                <p>Price:</p>
              </span>
              <span class="s-p-all">
                <span class="s-p-main-price"> $ {{product.selling_prize}} </span>
              </span>
            </div>

            <div ProductUnit = {{pav.attributeValue}} ProductGroup="{{product.ProductType.typeName }}" id="EmptyDiv">
            </div>
            <div class="product-all-details">
              <span>
                {{product.description}}
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- related Product -->
<div class="related-product">
  <div class="related-product-title">
    <h2>Related product</h2>
  </div>
  <div class="related-product-main">
    <!-- product start -->
    {% for product in page_obj %}
    {% if product.id == showedProductId %} 
    <!---continue-->
    {% else %}
    <div class="product-col">
      <div class="product-col-img">
        <a href="{% url 'singleproducturlname' product.id %}">
          <img src="{{product.product_image.url}}" alt="" />
        </a>
      </div>
      <div class="product-col-details">
        <div class="product-name">
          <a href="singleporduct.html">
            <span>{{product.title}}</span>
          </a>
        </div>
        <div class="product-rg-so">
          <span class="borr">regular</span>
          <span class="borr solg">solid</span>
        </div>
        <div class="product-price">
          <div class="p-price">
            <h2>US ${{product.discounted_prize}}</h2>
          </div>
        </div>
       
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="pagination-section">
      <div class="pagination-container">
        <div class="pagination-all-btn">
          {% if page_obj.has_previous %}
          <button class="pagination-prev-btn">
            <span class="prev-icon"><i class="fas fa-chevron-left"></i></span>
            <a href="?page=1">&laquo; </a>
            <span class="prev-text"><a href="?page={{ page_obj.previous_page_number }}">previous</a></span>
          </button>
          {% endif %}
          
          <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>


          {% if page_obj.has_next %}
          <button class="pagination-next-btn">
            <span class="next-text">
              <a href="?page={{ page_obj.next_page_number }}">next</a>
            </span>
            <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
            <span class="next-icon"><i class="fa fa-chevron-right"></i></span>
          </button>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- product-end -->

  </div>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'app/js/jquery.js' %}"></script>
<script src="{% static 'app/js/singleproduct.js' %}"></script>
{% endblock js %}