{% extends 'app/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/fontend.css' %}">
<link rel="stylesheet" href="{% static 'app/css/voucher.css' %}">
{% endblock css %}

{% block body %}

<div class="container">
  {% include 'app/aLeftSection.html' %}
  <div class="row justify-content-center mt-5">
    {% include 'accounts/error.html' %}
    <div style="text-align: center;" class="col-sm-6">
      <div id="voucherTitle">
        <div id="voucherTitleInner">
          <h4>Your voucher</h4>
          <p>
            When you'll use this voucher once the code will automatically change. so
            everytime copy this code before use
          </p>
        </div>
      </div>

      {% if vouchers %}
      {% for voucher in vouchers %}
      <div class="voucherMain">
        <div class="mainInner">
          <div class="halfCircle"></div>
          <div class="halfCircle2"></div>
          <div class="titleTaka">
            <div class="title">{{voucher.voucher_offer}}</div>
            <div class="taka">Tk {{voucher.voucher_offer.discount}}</div>
          </div>

          <div class="code">
            {{voucher.voucher_code}}
          </div>

          <div class="minTakaValidDate">

            <div class="minAmount"> <span class="taka">Tk {{voucher.voucher_offer.condition_rate}}</span> minimum </div>
            <div class="validDate">Valid untill <span class="taka">{{voucher.user_valid_to}}</span></div>

          </div>
        </div>

      </div>
      {% endfor %}
      {% else %}
      <h3>You have no voucher right now</h3>
      {% endif %}
    </div>
  </div>
</div>

{% endblock body %}

{% block footer %}
{% endblock footer %}